{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}EVENT SPLASH PAGE{% endblock %}

{% block content %}
{% load humanize %}

<div class="content center-font narrow">
    <div class="pad-bottom">
        <h1 class="center-font pad-bottom amethyst-accent color-accent">{{ page.header }}</h1>

        <div class="img-container">
            <img class="limit-size" src="/media/img/sumit/splash_sumit_generic.png" width="100%" height="auto"/>
        </div>
        <br>
        <br>
        <div><p class="large-font-normal center-font">{{ page.message }}</p></div>

        <a class="button" href="event_start_page">Start</a>
        {%  if page.event_type != 0 %}
            <a href="home"><div class="center-font">Skip this</div></a>
        {% endif %}
    </div>
</div>


{% endblock %}
