{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}EVENT END PAGE{% endblock %}

{% block content %}
{% load humanize %}

<div class="content narrow white-back darkgrey-front">
    <div class="pad-bottom">

        <div class="xlarge-font center-font pad-bottom">page.header</div>
        <div class="large-font center-font">page.message</div>
        <div class="xlarge-font center-font pad-bottom">{{ page.percentage }}%</div>
        <div class="large-font center-font">page.message</div>

        <a class="button green-back grey-front drop" href="home">Done</a>
    </div>
</div>


{% endblock %}