{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}EVENT SPLASH PAGE{% endblock %}

{% block content %}
{% load humanize %}

<div class="content narrow white-back darkgrey-front">
    <div class="pad-bottom">

        <div class="xlarge-font center-font pad-bottom">page.header</div>
        <div class="large-font center-font">page.message</div>

        <a class="button green-back grey-front drop" href="event_start_page">Take It!</a>
        <a href="home">Skip to your normal daily challenge</a>
    </div>
</div>


{% endblock %}