{% extends "core/main.html" %}

{% block title %}WELCOME{% endblock %}

{% block home_icon %}
    <a href="/signout" class="home-signout">Logout</a>
{% endblock %}

{% block page_descriptor_text %}Dashboard{% endblock %}

{% block content %}
    {% load humanize %}
    {% load oneplus_extras %}
    <section class="content">
        {% if sumit %}
            <hgroup class="amethyst-accent">
                <h1 class="color-accent">Hello, {{ user.name }}.{{ answered }}</h1>
                <h2>
                    {% if learner.sumit_level == 1 and sumit_answered_today == 0 and correct_answers == 0 %} Ready for SUMit week?
                    {% elif sumit_correct_answers == 0 %} Finished for today
                    {% elif sumit_day_flag == False  and learner.sumit_level >= 1 %} It's day {{ sumit_day }} of SUMit week
                    {% elif sumit.level == 'Sumit' and learner.sumit_level == 4 %} It's the end of SUMit
                    {% endif %}
                </h2>
            </hgroup>

            <article class="card center-font amethyst-accent border-color-accent">
                <div><span class="text badge-award"><img class="badge-img" src="{{ sumit.url }}"></span></div>

                <h3>
                    {% if learner.sumit_level == 1 and sumit_answered_today == 0 %} Step 1, start from Basecamp
                    {% elif sumit_answered_today == 3 %} You're at {{ sumit.level }}
                    {% elif sumit_day_flag == False  and learner.sumit_level >= 1 %} You're at {{ sumit.level }}
                    {% elif sumit.level == 'Sumit' and learner.sumit_level == 4 %} You almost made it
                    {% endif %}
                </h3>

                <p>
                    {% if learner.sumit_level == 1 and sumit_answered_today == 0 %} You'll have to answer 3 questions correctly in a row to progress to {{ sumit_next_level }}
                    {% elif sumit_answered_today == 3  %} You're at {{ sumit.level }} Tomorrow we go to {{ sumit_next_level }} It's simple - 3 questions, 3 answers. That's it.
                    {% elif sumit_day_flag == False  and learner.sumit_level >= 1 %} Next up {{ sumit_next_level }}. Answer the next 3 questions correctly and we'll get you there. Ready?
                    {% elif sumit.level == 'Sumit' and learner.sumit_level == 4 %} You'll have another chance to SUMit next time. <br> Well done for this week.
                    {% endif %}
                </p>

                {% if learner.sumit_level > 1 %}
                    <hr class="hr-accent" />
                {% endif %}

                <h3>
                    {% if learner.sumit_level > 1 %} Tasks completed:<br><br>
                        {% if sumit_correct_answers == 0 and sumit_correct_answers == 1 %}
                            <p><b>1. Basecamp:<br> </b>3/3 questions answered correctly</p>
                        {% elif sumit_correct_answers == 0 and sumit_correct_answers == 2 %}
                            <p><b>1. Basecamp: </b>3/3 questions answered correctly</p>
                            <p><b>2. Foothills: </b>3/3 questions answered correctly</p>
                        {% elif sumit_correct_answers == 0 and sumit_correct_answers == 3 %}
                            <p><b>1. Basecamp: </b>3/3 questions answered correctly</p>
                            <p><b>2. Foothills: </b>3/3 questions answered correctly</p>
                            <p><b>3. Cliffs: </b>3/3 questions answered correctly</p>
                        {% elif sumit_correct_answers == 0 and sumit_correct_answers == 4 %}
                            <p><b>1. Basecamp: </b>3/3 questions answered correctly</p>
                            <p><b>2. Foothills: </b>3/3 questions answered correctly</p>
                            <p><b>3. Cliffs: </b>3/3 questions answered correctly</p>
                            <p><b>4. Peak: </b>3/3 questions answered correctly</p>
                        {% elif sumit_correct_answers == 0 %}
                            <p><b>1. Basecamp: </b>3/3 questions answered correctly</p>
                            <p><b>2. Foothills: </b>3/3 questions answered correctly</p>
                            <p><b>3. Cliffs: </b>3/3 questions answered correctly</p>
                            <p><b>4. Peak: </b>3/3 questions answered correctly</p>
                            <p><b>5. Sumit: </b>3/3 questions answered correctly</p>
                        {% endif %}
                    {% endif %}
                </h3>

                {% if learner.sumit_level >= 1 and sumit_day_flag == False and sumit_correct_answers > 3 %}
                    <hr class="hr-accent" />
                {% endif %}

                {% if sumit_day_flag == False and learner.sumit_level == 0 and sumit_correct_answers > 3 %}
                    <section class="bottom-novert center-font">
                        <a href="sumit" class="link undecorated icon-right inline">Get Started</a>
                    </section>
                {% endif %}
            </article>
        {% else %}
            <hgroup class="pale-teal-accent">
                <h1 class="color-accent">Hello, {{ user.name }}.</h1>
                <h2>Great to see you again.</h2>
            </hgroup>
        {% endif %}

        {% comment %}Normal challenge{% endcomment %}
        {% if state.home_tasks_today < state.home_required_tasks %}
            {% if not state.questions_complete %}
                <article class="card pale-teal-accent border-color-accent">
                    <section class="top">
                        <div class="img-container">
                            <img class="limit-size" src="/media/img/dashboard/test_yourself.png" width="100%" height="auto"/>
                        </div>
                        <h3 class="card-top-phrase">Ready for today's challenge?</h3>
                    </section>
                    <hr class="hr-accent" />
                    <section class="bottom-novert center-font">
                        <a href="next" class="link undecorated icon-right inline">Take today's challenge</a>
                    </section>
                </article>
            {% endif %}
        {% endif %}

        {% comment %}Current challenge stats{% endcomment %}
        <article class="card sunflower-yellow-accent border-color-accent">
            <section class="top">
                <div class="img-container">
                    <img class="limit-size" src="/media/img/dashboard/evaluate_yourself.png" width="100%" height="auto"/>
                </div>
                <h3 class="card-top-phrase">{{ feedback_string }}</h3>
            </section>
            <hr class="hr-accent" />
            <section class="bottom">
                <table class="card-table">
                    <tr>
                        <td class="funky-number color-accent">{{ state.home_tasks|stringformat:"d" }}/{{ 15 }}</td>
                        <td>Questions complete</td>
                    </tr>
                    <tr>
                        <td class="funky-number color-accent">{{ state.home_correct|stringformat:"d" }}/{{ state.home_goal|stringformat:"d" }}</td>
                        <td>Correct answers & {{ state.home_goal_remaining|stringformat:"d" }} more to win airtime</td>
                    </tr>
                </table>
            </section>
            {% if redo %}
                <hr class="hr-accent" />
                <section class="bottom-novert center-font">
                    <a href="redo" class="link undecorated icon-right inline">Redo incorrect answers</a>
                </section>
            {% endif %}
        </article>

        {% comment %}Overall stats{% endcomment %}
        <article class="card squash-accent border-color-accent">
            <section class="top">
                <div class="img-container">
                    <img class="limit-size" src="/media/img/splash/splash_level_{{ level }}.png" width="100%" height="auto"/>
                </div>
            {% comment %}
                {% if public_sharing %}
                    <a class="button border-color-accent color-accent" href="{% url 'share:level' %}">Share level and badge</a>
                {% endif %}
               {% endcomment %}
                <h1 class="center-font color-accent">Level</h1>
                <div class="level-pip-container">
                    {% for i in levels %}
                        <div class="level-pip{% ifequal level i %} active background-color-accent{% endifequal %}">{{ i }}</div>
                    {% endfor %}
                </div>
                <div class="center-font">
                    {% ifequal level level_max %}
                        Respect! You have reached the highest level on dig-it.
                        You shall be called <b>Maths Master</b>.
                        Your friends shall bow down before you. You are awesome!
                    {% else %}
                        You're {{ points_remaining }} points away from Level {{ level|add:"1" }}.
                    {% endifequal %}
                </div>
            </section>
            {% if position %}
                <hr class="hr-accent" />
                <section class="bottom">
                    <table class="card-table">
                        <tr>
                            <td class="funky-number color-accent">{{ position|ordinal_extra:'sup' }}</td>
                            <td>Place on the 'My Grade' leaderboard</td>
                        </tr>
                    </table>
                </section>
            {% endif %}
            <hr class="hr-accent" />
            <section class="bottom-novert center-font">
                <a href="{% url 'prog.leader' %}" class="link undecorated icon-right inline">View all leaderboards</a>
            </section>
        </article>

        {% comment %}Latest story{% endcomment %}
        {% if post %}
            <article class="card amethyst-accent border-color-accent">
                <section class="top">
                    <div class="img-container">
                        <img class="limit-size" src="/media/img/dashboard/motivate_yourself.png" width="100%" height="auto"/>
                    </div>
                    <h3 class="card-top-phrase">{{ post.name }}</h3>
                    <div class="card-description">{{ post.description|truncatechars:50 }}</div>
                </section>
                <hr class="hr-accent" />
                <section class="bottom-novert center-font">
                    <a href="/blog/{{ post.id }}" class="link undecorated icon-right inline">Read story</a>
                </section>
            </article>
        {% endif %}

        {% if event_name and not sumit %}
            <form name="event" action="#" method="post">
                {% csrf_token %}
                <div class="content">
                    {% if first_sitting %}
                        <input class="button border-color-accent color-accent" type="submit" name="take_event" value="Take the {{ event_name }}">
                    {% else %}
                        <input class="button border-color-accent color-accent" type="submit" name="take_event" value="Finish {{ event_name }}">
                    {% endif %}
                </div>
            </form>
        {% endif %}
    </section>
{% endblock %}
