{% extends "core/main.html" %}

{% block title %}WELCOME{% endblock %}

{% block home_icon %}
    <a href="/signout" class="home-signout">Logout</a>
{% endblock %}

{% block page_descriptor_text %}Dashboard{% endblock %}

{% block content %}
    {% load humanize %}
    {% load oneplus_extras %}
    <section class="content">
        <hgroup class="pale-teal-accent">
            <h1 class="color-accent">Hello, {{ user.name }}.</h1>
            <h2>Great to see you again.</h2>
        </hgroup>

        {% comment %}Normal challenge{% endcomment %}
        {% if state.home_tasks_today < state.home_required_tasks %}
            {% if not state.questions_complete %}
                <article class="card pale-teal-accent border-color-accent">
                    <section class="top">
                        <img src="/media/img/welcome1.png" width="100%" height="auto"/>
                        <h3 class="card-top-phrase">Ready for today's challenge?</h3>
                    </section>
                    <hr class="hr-accent" />
                    <section class="bottom">
                        <a class="link-inline" href="next"><div>Take today's challenge</div></a>
                    </section>
                </article>
            {% endif %}
        {% endif %}

        {% comment %}Current challenge stats{% endcomment %}
        <article class="card sunflower-yellow-accent border-color-accent">
            <section class="top">
                <img src="/media/img/welcome2.png" width="100%" height="auto"/>
                <h3 class="card-top-phrase">Keep up the good work!</h3>
            </section>
            <hr class="hr-accent" />
            <section class="bottom">
                <table class="card-table">
                    <tr>
                        <td class="funky-number color-accent">{{ state.home_tasks|stringformat:"d" }}/{{ 15 }}</td>
                        <td>Questions complete</td>
                    </tr>
                    <tr>
                        <td class="funky-number color-accent">{{ state.home_correct|stringformat:"d" }}/{{ state.home_goal|stringformat:"d" }}</td>
                        <td>Correct answers & {{ state.home_goal|stringformat:"d" }} more to win airtime</td>
                    </tr>
                </table>
            </section>
            <hr class="hr-accent" />
            <section class="bottom">
                <a class="link-inline" href="next"><div>Redo incorrect answers</div></a>
            </section>
        </article>

        {% comment %}Overall stats{% endcomment %}
        <article class="card squash-accent border-color-accent">
            <section class="top">
                <img src="/media/img/welcome3.png" width="100%" height="auto"/>
                <a class="button border-color-accent color-accent" href="{% url 'prog.badges' %}">See all badges</a>
            </section>
            <hr class="hr-accent" />
            <section class="bottom">
                <h1 class="center-font color-accent">Level</h1>
                <div class="level-pip-container">
                    {% for i in levels %}
                        <div class="level-pip{% ifequal level i|add:"1" %} active background-color-accent{% endifequal %}">{{ i|add:"1" }}</div>
                    {% endfor %}
                    <div class="justify-enforcer"></div>
                </div>
                <div class="center-font">
                    You're {{ points_remaining }} points away from Level {{ level|add:"1" }}.
                </div>
            </section>
            {% if position %}
                <hr class="hr-accent" />
                <section class="bottom">
                    <table class="card-table">
                        <tr>
                            <td class="funky-number color-accent">{{ position|ordinal_extra:'sup' }}</td>
                            <td>Place on the 'My Grade' leaderboard</td>
                        </tr>
                    </table>
                </section>
            {% endif %}
            <hr class="hr-accent" />
            <section class="bottom">
                <a class="link-inline" href="{% url 'prog.leader' %}"><div>View all leaderboards</div></a>
            </section>
        </article>

        {% if state.home_tasks_today < state.home_required_tasks %}
            {% if not state.questions_complete %}
                <div class="center-font">
                {% if sumit %}
                    <p class="center-font">It's SUMit! Week, are you ready?</p>
                {% else %}
                    <p class="center-font">Ready to take the challenge?</p>
                {% endif %}
                </div>
            {% endif %}
        {% endif %}

        {% if sumit %}
            <div class="center-font content darkgrey-back">
                <div class="pad-bottom"><span class="large-font-normal">SUMit! Week</span></div>
                <div><span class="text badge-award"><img class="badge-img" src="{{ sumit.url }}"></span></div>
                <div>
                    <span class="text-line">
                        <p>Current level:
                            <b class="{% if sumit.level == 'Basecamp' or sumit.level == 'Summit' %} green-front {% elif sumit.level == 'Foothills' %} yellow-front {% elif sumit.level == 'Cliffs' %} purple-front {% else %} cyan-front {% endif %}">{{ sumit.level }}</b>
                        </p>
                    </span>
                </div>
            </div>
        {% endif %}


        <div class="content">
        {% if not state.questions_complete %}
            {% if state.home_tasks_week >= 15 %}
                <p>This week's revision complete. Come back Monday for more{% if redo %} or <a class="color-accent" href="redo">redo your incorrect answers</a>{% endif %}.</p>
            {% elif state.home_tasks_today >= state.home_required_tasks %}
                <p>Today's revision complete. Come back tomorrow for more{% if redo %} or <a class="color-accent" href="redo">redo your incorrect answers</a>{% endif %}.</p>
            {% else %}
                {% if not sumit %}
                    <a class="button border-color-accent color-accent" href="next">Take the challenge</a>
                {% else %}
                    <a class="button border-color-accent color-accent" href="sumit">Start SUMit!</a>
                {% endif %}
            {%  endif %}
        {% else %}
             <p class="body-copy">You've finished all of the dig-it questions!</p>
        {% endif %}
        </div>

        {% if event_name and not sumit %}
            <form name="event" action="#" method="post">
                {% csrf_token %}
                <div class="content">
                    {% if first_sitting %}
                        <input class="button border-color-accent color-accent" type="submit" name="take_event" value="Take the {{ event_name }}">
                    {% else %}
                        <input class="button border-color-accent color-accent" type="submit" name="take_event" value="Finish {{ event_name }}">
                    {% endif %}
                </div>
            </form>
        {% endif %}
    </section>
{% endblock %}
