{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}NEXT{% endblock %}
{% block page_descriptor_text %}Today's challenge{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content pale-teal-accent">
        {% if state.report_sent %}
            <div class="pad-top">
                <p class="green-front">Thank you for your Report. A teacher will review the question.</p>
            </div>
        {% endif %}
        <h1 class="color-accent">Question {{ state.next_tasks_today }}/{{ state.total_tasks_today }}</h1>
        <h2>{% if points %}{{ points }} point{{ points |pluralize }}{% else %}0 points{% endif %}</h2>

        {% if module %}
            <div class="left-font page-descriptor">
                Module: {{ module }}
            </div>
        {% endif %}
        {% if golden_egg and golden_egg.question == True %}
            <div class="text heading center-font"><p class="large-font">You’ve found the Golden Egg!</p></div>
            <div class="center-font"><img src="{{ golden_egg.url }}"></div>
        {% endif %}
        <article class="card pale-teal-accent border-color-accent">
            {% autoescape off %}
            {{ state.question_id }}
            <section class="top">
                {{ question.question_content | format_content }}
            </section>
            <hr class="hr-accent" />
            <form action="{% if preview %}/preview/{{ question.id }}{% else %}next{% endif %}" method="post" style="padding:0;margin:0">{% csrf_token %}
                <section class="bottom-novert">
                    {% for opt in question.testingquestionoption_set.all %}
                        <label class="label-question" for="answer_{{ opt.id }}">
                            <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                            {% if opt.content %}
                                <div class="align-option">{{ opt.content | format_option  }}</div>
                            {% else %}
                                <div class="align-option">{{ opt.name }}</div>
                            {% endif %}
                        </label>
                    {% endfor %}
                </section>
                <hr class="hr-accent" />
                <section class="bottom-novert center-font">
                    <input type="submit" class="link" style="vertical-align:middle" value="Submit answer"/>
                    <li class="icon forward" style="vertical-align:middle"></li>
                </section>
            </form>
            {% endautoescape %}
        </article>

        {% if not preview %}
            <div class="padded">
                <p>Find a mistake? <a href="/report_question/{{ question.id }}/next">Report it here</a></p>
            </div>
        {% endif %}

        {% if question.textbook_link %}
            <a class="button border-color-accent color-accent" href="{{  question.textbook_link  }}">
                Read textbook
            </a>
        {% endif %}

        {% if preview %}
            <div class="menu">
                {% for msg in messages %}
                    <div class="item-large">
                        <div><span class="bold-font">{{ msg.author.first_name }}</span> <span class="lightgrey-front">{{ msg.publishdate | naturaltime }}</span>
                            {% if not state.banned and not preview%}
                                {% ifnotequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                                    <form name="comment_response" method="post" action="?" class="inline">
                                        {% csrf_token %}
                                        <button type="submit" name="comment_response_button" class="link green-front" value="{{ msg.id }}">Reply</button>
                                    </form>
                                {% endifnotequal %}
                            {% endif %}
                        </div>
                        <p class="">{{ msg.content }}</p>
                        {% ifequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                            <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                                <input type="text" name="reply" value="" />
                                <button type="submit" name="reply_button" class="button background-color-accent color-accent" value="{{ msg.id }}">Reply</button>
                            </form>
                        {% endifequal %}
                        {% ifequal state.discussion_responded_id|add:"0" msg.id|add:"0" %}
                            <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
                        {% endifequal %}
                    </div>

                    {% for rsp in msg.related_discussions.all reversed %}
                        {% if rsp.moderated %}
                            <div class="item-large reply">
                                <div><span class="bold-font">{{ rsp.author.first_name }}</span> <span class="lightgrey-front">{{ rsp.publishdate | naturaltime }}</span></div>
                                <p>{{ rsp.content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}
