{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}NEXT{% endblock %}

{% block content %}
    {% load humanize %}
        {% if state.report_sent %}
            <div class="content narrow darkgrey-back pad-top">
                <p class="green-front">Thank you for your Report. A teacher will review the question.</p>
            </div>
        {% endif %}

        {% if question_type == "answer_event" %}
            <div class="text heading green-back darkgrey-front"><li class="icon ontrack"></li><p>Event Question</p></div>
            <div class="text heading darkgrey-back"><p>Q {{ state.event_questions_answered }}/{{ state.total_event_questions }}</p></div>
        {% else %}
            <div class="text heading green-back darkgrey-front"><li class="icon ontrack"></li><p>Today's Challenge</p></div>
            <div class="text heading darkgrey-back"><p>Q {{ state.next_tasks_today }}/{{ state.total_tasks_today }}</p></div>
        {% endif %}

        {% if golden_egg and golden_egg.question == True %}
            <div class="text heading darkgrey-back"><p>You’ve found the Golden Egg!</p></div>
            <div class="center-font"><img src="{{ golden_egg.url }}"></div>
        {% endif %}

        {% autoescape off %}
            {{ state.question_id }}
            <div class="content narrow white-back darkgrey-front">
            {% if preview %}
                <form action="/preview/{{ question.id }}" method="post" class="pad-bottom">{% csrf_token %}
            {% else %}
                <form action="next" method="post" class="pad-bottom">{% csrf_token %}
            {% endif %}
                        <p>{{ question.question_content | format_content }}</p>
                        {% for opt in question.testingquestionoption_set.all %}
                            <input type="radio" name="{{ question_type }}" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                            <label class="label-question" for="answer_{{ opt.id }}">
                            {% if opt.content %}
                                <div class="align-option"> {{ opt.content | format_option  }}</div> </label><br/><br/>
                            {% else %}
                                {{ opt.name }} </label><br/><br/>
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <div>
                            <input type="submit" class="button green-back grey-front drop" value="Submit Answer"/>
                        </div>
                        {% if state.sittings %}
                            {% if state.sittings == 2%}
                                <a class="button green-back grey-front drop-relative" href="menu">Save & Finish Later</a>
                            {% endif %}
                        {% endif %}
                </form>
            </div>
        {% endautoescape %}

        {% if not preview %}
            <div class="content narrow darkgrey-back pad-top">
                <p>Find a mistake? Report it <a href="/report_question/{{ question.id }}/next"><b>here</b></a></p>
            </div>
        {% endif %}

        {% if preview %}
            <div class="menu grey-back">
                {% for msg in messages %}
                    <div class="item-large grey-back">
                        <div><span class="white-front bold-font">{{ msg.author.first_name }}</span> <span class="lightgrey-front">{{ msg.publishdate | naturaltime }}</span>
                            {% if not state.banned and not preview%}
                                {% ifnotequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                                    <form name="comment_response" method="post" action="?" class="inline">
                                        {% csrf_token %}
                                        <button type="submit" name="comment_response_button" class="link green-front" value="{{ msg.id }}">Reply</button>
                                    </form>
                                {% endifnotequal %}
                            {% endif %}
                        </div>
                        <p class="white-front">{{ msg.content }}</p>
                        {% ifequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                            <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                                <input type="text" name="reply" value="" />
                                <button type="submit" name="reply_button" class="button green-back" value="{{ msg.id }}">Reply</button>
                            </form>
                        {% endifequal %}
                        {% ifequal state.discussion_responded_id|add:"0" msg.id|add:"0" %}
                            <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
                        {% endifequal %}
                    </div>

                    {% for rsp in msg.related_discussions.all reversed %}
                        {% if rsp.moderated %}
                            <div class="item-large grey-back reply">
                                <div><span class="white-front bold-font">{{ rsp.author.first_name }}</span> <span class="lightgrey-front">{{ rsp.publishdate | naturaltime }}</span></div>
                                <p class="white-front">{{ rsp.content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}