{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}NEXT{% endblock %}

{% block content %}
    {% load humanize %}
        {% if state.report_sent %}
            <div class="content padded darkgrey-back pad-top">
                <p class="green-front">Thank you for your Report. A teacher will review the question.</p>
            </div>
        {% endif %}

        <div class="text heading green-back darkgrey-front"><li class="icon ontrack"></li><p>Today's Repeat Questions</p></div>
        <div class="text heading darkgrey-back"><p>Q {{ state.next_tasks_today }}/{{ state.total_tasks_today }}</p></div>

        {% autoescape off %}
            {{ state.question_id }}
            <div class="content padded white-back darkgrey-front">
                <form action="redo" method="post">{% csrf_token %}
                    <p>{{ question.question_content | format_content }}</p>
                    {% for opt in question.testingquestionoption_set.all %}
                        <label class="label-question" for="answer_{{ opt.id }}">
                            <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                            {% if opt.content %}
                                <div class="align-option">{{ opt.content | format_option  }}</div>
                            {% else %}
                                <div class="align-option">{{ opt.name }}</div>
                            {% endif %}
                        </label>
                    {% endfor %}
                    <br/>
                    <div>
                        <input type="submit" class="button green-back grey-front" value="Submit Answer"/>
                    </div>
                </form>
            </div>
        {% endautoescape %}

        <div class="content padded darkgrey-back pad-top">
            <p>Find a mistake? Report it <a href="/report_question/{{ question.id }}/next"><b>here</b></a></p>
        </div>
{% endblock %}