{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}Next{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content pale-teal-accent">
        {% if state.report_sent %}
            <div class="pad-top">
                <p class="green-front">Thank you for your Report. A teacher will review the question.</p>
            </div>
        {% endif %}

        <h1 class="color-accent">Question {{ state.next_tasks_today }}/{{ state.total_tasks_today }}</h1>
        <h2>{% if points %}{{ points }} point{{ points |pluralize }}{% else %}0 points{% endif %}</h2>

        <article class="card pale-teal-accent border-color-accent">
            {% autoescape off %}
            {{ state.question_id }}
            <section class="top">
                {{ question.question_content | format_content }}
            </section>
            <hr class="hr-accent" />
            <form action="redo" method="post" style="padding:0;margin:0">{% csrf_token %}
                <section class="bottom-novert">
                    {% for opt in question.testingquestionoption_set.all %}
                        <label class="label-question" for="answer_{{ opt.id }}">
                            <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                            {% if opt.content %}
                                <div class="align-option">{{ opt.content | format_option  }}</div>
                            {% else %}
                                <div class="align-option">{{ opt.name }}</div>
                            {% endif %}
                        </label>
                    {% endfor %}
                </section>
                <hr class="hr-accent" />
                <section class="bottom-novert center-font">
                    <input type="submit" class="link" style="vertical-align:middle" value="Submit answer"/>
                    <li class="icon forward" style="vertical-align:middle"></li>
                </section>
            </form>
            {% endautoescape %}
        </article>

        <div class="padded">
            <p>Find a mistake? <a href="/report_question/{{ question.id }}/next">Report it here</a></p>
        </div>
    </article>
{% endblock %}
