{% extends "core/main.html" %}

{% block title %}Report This Question{% endblock %}

{% block content %}
    <article class="content pale-teal-accent">
        <hgroup>
            <h1 class="color-accent">Something wrong with the question?</h1>
            <h2>Let us know below.</h2>
            {% if question_number %}<h3 class="left-font pad-top">Question {{ question_number }}</h3>{% endif %}
        </hgroup>
        <form name="report_question_form" method="post" action="?" class="">{% csrf_token %}
            <label>
                What is wrong with the question?
                <input type="text" name="issue" value="" />
            </label>
            <label>
                How can we fix the problem?
                <input type="text" name="fix" value="" />
            </label>
            <button type="submit" name="report_button" class="button border-color-accent color-accent" value="Submit">Submit</button>
        </form>
    </article>
{% endblock %}
