{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}RIGHT{% endblock %}
{% block page_descriptor_text %}Today's challenge{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content pale-teal-accent">

        {% if state.report_sent %}
            <div class="content padded pad-top">
                <p class="green-front">Thank you for your Report. A teacher will review the question.</p>
            </div>
        {% endif %}
        <h1 class="color-accent">Well done!</h1>
        <h2>
            That's the correct answer.
            You've earned <b>{% if points %}{{ points }} point{{ points |pluralize }}{% else %}0 points{% endif %}</b>.
        </h2>

        {% if golden_egg %}
            <section>
                <div class="center-font"><img src="{{ golden_egg.url }}"></div>
                <h3 class="center-font">Congratulations!</h3>
                <div class="center-font">
                         <p>{{ golden_egg.message }}</p>
                </div>
            </section>
        {% endif %}
        {% if badge %}
            <section>
                <div class="badge-layout">
                {% if badge.image %}<span class="badge-award"><img class="badge-img" src="{{ badge.image.url }}"></span>{% endif %}
                <span class="badge-award"><span class="large-font">{{ badge.name }}</span> badge earned</span>
                </div>
            </section>
        {% endif %}

        {% if not preview %}
            {% if state.right_tasks_today >= state.total_tasks_today %}
                <a class="button border-color-accent color-accent" href="home">Done for today</a>
            {% else %}
                <a class="button border-color-accent color-accent" href="next">Next question</a>
            {% endif %}
        {% endif %}

        <article class="card pale-teal-accent border-color-accent">
            {% autoescape off %}
            {{ state.question_id }}
            <section class="top">
                {{ question.question_content | format_content }}
            </section>
            <hr class="hr-accent" />
            <section class="bottom-novert">
                {% for opt in question.testingquestionoption_set.all %}
                    <label class="label-question" for="answer_{{ opt.id }}">
                        <input type="radio" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle"
                               {% if opt.correct %}checked="true"{% endif %} disabled>
                        <div class="align-option">
                            {% if opt.content %}{{ opt.content | format_option  }}{% else %}{{ opt.name }}{% endif %}
                        </div>
                    </label>
                {% endfor %}
            </section>
            {% if question.answer_content %}
                <hr class="hr-accent" />
                <section class="bottom">
                    <h3 class="card-top-phrase">Solution</h3>
                    <p class="solution-content">{{ question.answer_content | format_content  }}</p>
                </section>
            {% endif %}
            {% if question.notes %}
                <hr class="hr-accent" />
                <section class="bottom">
                    <h3 class="card-top-phrase">Additional Notes</h3>
                    <p class="solution-content">{{ question.notes | format_content  }}</p>
                </section>
            {% endif %}
            {% endautoescape %}
        </article>

        {% if not preview %}
            <div>
                <p>Find a mistake? Report it <a href="/report_question/{{ question.id }}/right"><b>here</b></a></p>
            </div>
        {% endif %}

        {% if question.textbook_link %}
            <a class="button border-color-accent color-accent" href="{{  question.textbook_link  }}">
                Read textbook
            </a>
        {% endif %}



        {% if not state.banned and not preview%}
            <div class="padded">
                <div class="bold-font">Discuss the Challenge</div>
                <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                    <input type="text" name="comment" value="" />
                    <button type="submit" name="comment_button" class="button border-color-accent color-accent">Comment</button>
                </form>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="color-accent">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if request.session.state.discussion_page_max > 0 or preview%}
            <article class="comment-list">
                {% for msg in comment_messages %}
                    {% if msg.moderated %}
                        <div class="item-large">
                            <div>
                                <span class="comment-author">{{ msg.author.first_name }}</span>
                            </div>

                            {% if  msg.unmoderated_date == None %}
                                <p>{{ msg.content }}</p>
                                <div class="pull-up">

                                    {% if not preview %}
                                        {% if not state.banned %}
                                            {% ifnotequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                                                <form name="comment_response" method="post" action="?" class="inline">
                                                    {% csrf_token %}
                                                    <button type="submit" name="comment_response_button" class="link color-accent stack-horz" value="{{ msg.id }}">Reply</button>
                                                </form>
                                            {% endifnotequal %}
                                        {% endif %}
                                        <form name="report_comment" method="post" action="?" class="inline">
                                            {% csrf_token %}
                                            <button type="submit" name="report_button" class="link stack-horz" value="">Report Comment</button>
                                            <input type="hidden" name="report" value="{{ msg.id }}" />
                                        </form>
                                    {% endif %}
                                </div>

                               {% ifequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                                    <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                                        <input type="text" name="reply" value="" />
                                        <button type="submit" name="reply_button" class="link color-accent stack-horz" value="{{ msg.id }}">Reply</button>
                                    </form>
                                {% endifequal %}

                                {% ifequal state.discussion_responded_id|add:"0" msg.id|add:"0" %}
                                    <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
                                {% endifequal %}

                            {% else %}
                                <p class="red-front">{{ msg.content }}</p>
                            {% endif %}
                        </div>

                        {% for rsp in msg.related_discussions.all reversed %}
                            {% if rsp.moderated %}
                                <div class="item-large reply">
                            <div>
                                <span class="comment-author">{{ msg.author.first_name }}</span>
                            </div>
                                    <p>{{ rsp.content }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <hr />
                {% endfor %}

                {% if not preview %}
                    <form name="more_form" method="post" action="?">
                        {% csrf_token %}
                        <div class="item">
                            {{ state.discussion_page }} of {{ state.discussion_page_max }}
                            {% if state.discussion_page < state.discussion_page_max %}
                                <button type="submit" name="more_button" class="button" value="">See more comments</button>
                                <input type="hidden" name="page" value="" />
                            {% endif %}
                        </div>
                    </form>
                {% endif %}

            </article>
        {% endif %}
    </article>
{% endblock %}
