{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}EVENT END PAGE{% endblock %}
{% block page_descriptor_text %}SUMit{% endblock %}

{% block content %}
{% load humanize %}

<div class="content padding">
    {% if sumit.level != "Summit" or not winner %}
        {% if sumit.level != 'Summit' %}
            <h1 class="amethyst-accent color-accent">Your Score:
            <br>
            You made it to level {{ sumit.level }} and won {{ sumit.points }}.
            </h1>
            <h4>Well done on your effort in the SUMit! challenge. Keep revising so next time you can SUMit the mountain.</h4>
            <a class="button amethyst-accent border-color-accent color-accent" href="home">Done</a>
        {% else %}
            <p><span class="xlarge-font page-descriptor">You made it to the <span class="page-descriptor xlarge-font"> {{ sumit.level }}</span> and won {{ sumit.points }} points.</span></p>
            <p><span class="purple-front">Well done on your effort in the SUMit challenge. Keep revising so next time you can SUMit! the mountain.</span></p>
            <a class="button" href="home">Done</a>
        {% endif %}
    {% else %}
        <div class="white-front">
            <p><span class="large-font no">Congratulations! You have climbed the mountain and won {{ sumit.points }} points.</span></p>
            <p><span>
                Congratulations on winning the SUMit! challenge. {% if sumit.airtime %} You have also won a share of {{ sumit.airtime }} airtime - we'll sms you on Monday
                with the actual amount. {% endif %}Make sure to come back next week for the usual daily challenge.
            </span></p>
            <a class="button" href="home">Done</a>
        </div>
    {% endif %}

    {% if badge %}
        <div class="badge-layout">
            {% if badge.image %}
                <span class="badge-award"><img class="badge-img" src="{{ badge.image.url }}"></span>
            {% endif %}
            <span class="badge-award"><span class="large-font">{{ badge.name }}</span> badge earned</span>
        </div>
    {% endif %}
</div>


{% endblock %}
