{% extends "core/main.html" %}
{% load bleach_tags %}
{% load oneplus_extras %}
{% block title %}RIGHT{% endblock %}

{% block content %}
    {% load humanize %}

    <div class="text heading darkgrey-front center-font no-padding {% if sumit.level == 'Basecamp' or sumit.level == 'Summit' %} green-back {% elif sumit.level == 'Foothills' %} yellow-back {% elif sumit.level == 'Cliffs' %} purple-back {% else %} cyan-back {% endif %}"><p>SUMit!</p></div>

    {% if sumit %}
        <div class="sumit_content">
            <div class="center-font">
                <span class="large-font center-font">{{ sumit.level }}</span>
            </div>
            <div class="sumit_line"></div>
            <div class="sumit">
                <img class="badge-img" src="{{ sumit.url1 }}">
                <img class="badge-img" src="{{ sumit.url2 }}">
                <img class="badge-img" src="{{ sumit.url3 }}">
            </div>
        </div>
    {% endif %}

    {% autoescape off %}
        <div class="content narrow white-back darkgrey-front">
            <div class="pad-bottom">
                <div class="xlarge-font center-font pad-bottom pad-top">
                    Correct
                </div>
                {% if not preview %}
                    {% if sumit.finished %}
                        <a class="button green-back grey-front drop" href="sumit_end_page">Finish</a>
                    {% elif state.right_tasks_today >= state.total_tasks_today %}
                        {% if level_up %}
                            <a class="button green-back grey-front drop" href="sumit_level_up">Done For Today</a>
                        {% else %}
                            <a class="button green-back grey-front drop" href="home">Done For Today</a>
                        {% endif %}
                    {% else %}
                        {% if level_up %}
                            <a class="button green-back grey-front drop" href="sumit_level_up">Next Question</a>
                        {% else %}
                            <a class="button green-back grey-front drop" href="sumit">Next Question</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="content narrow white-back darkgrey-front">
            <h1 class="green-front" style="padding-top: 15px">Question</h1>
            <p>{{ question.question_content | format_content }}</p>

            <h1 class="green-front" style="padding-top: 15px">Options</h1>
            {% for opt in question.testingquestionoption_set.all %}
                <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                <label class="label-question" for="answer_{{ opt.id }}">
                {% if opt.content %}
                    <div class="align-option"> {{ opt.content | format_option  }}</div> </label><br/><br/>
                {% else %}
                    {{ opt.name }} </label><br/><br/>
                {% endif %}
            {% endfor %}

            <h1 class="green-front" style="padding-top: 15px">Correct Answer:</h1>
            {% for opt in question.testingquestionoption_set.all %}
                {% if  opt.correct %}
                    <p>Option {{ forloop.counter }}:
                        {% if opt.content %}
                            <div class="align-option"> {{ opt.content | format_option  }}</div> </label>
                        {% else %}
                            {{ opt.name }} </label>
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}

            <h1 class="green-front" style="padding-top: 15px">Solution</h1>
            <p>{{ question.answer_content | format_content  }}</p>
        </div>
    {% endautoescape %}
{% endblock %}