{% extends "core/main.html" %}

{% block title %}WRONG{% endblock %}

{% block content %}
       {% load humanize %}

        <div class="text heading green-back darkgrey-front"><li class="icon ontrack"></li><p>Today's Challenge</p></div>
        <div class="text heading darkgrey-back"><p>Q {{ state.wrong_tasks_today }}/3</p></div>

        {% autoescape off %}
            <div class="content narrow white-back darkgrey-front">
                <div class="pad-bottom">

                    <div class="xlarge-font center-font pad-bottom">Incorrect</div>
                    <div class="large-font center-font">Unfortunately that is not the answer</div>
                    <div class="large-font green-front center-font">Read the Textbook</div>
                    {% if state.wrong_tasks_today >= 3 %}
                        <a class="button green-back grey-front drop" href="home">Done For Today</a>
                    {% else %}
                        <a class="button green-back grey-front drop" href="next">Next Question</a>
                    {% endif %}
                </div>
            </div>
            <div class="content narrow grey-back">
                <h1 class="green-front">Solution</h1>
                <p>{{ question.answer_content }}</p>
            </div>
        {% endautoescape %}

        <div class="content narrow darkgrey-back pad-top">
            <div class="white-front bold-font">Discuss the Challenge</div>
            <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                <button type="submit" name="comment_button" class="button green-back" value="Submit"></button>
                <input type="text" name="comment" value="" />
            </form>
            {% if state.discussion_comment %}
                <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
            {% endif %}
        </div>

        {% if state.discussion_page_max > 0%}
            <div class="menu grey-back">
            {% for msg in messages %}
                <div class="item-large grey-back">
                    <div><span class="white-front bold-font">{{ msg.author.first_name }}</span> <span class="lightgrey-front">{{ msg.publishdate | naturaltime }}</span>{% ifnotequal state.discussion_response_id|add:"0" msg.id|add:"0" %}<form name="comment_response" method="post" action="?" class="inline">{% csrf_token %}<button type="submit" name="comment_response_button" class="link green-front" value="{{ msg.id }}">Reply</button></form>{% endifnotequal %}</div>
                    <p class="white-front">{{ msg.content }}</p>
                    {% ifequal state.discussion_response_id|add:"0" msg.id|add:"0" %}
                        <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                            <button type="submit" name="reply_button" class="button green-back" value="{{ msg.id }}"></button>
                            <input type="text" name="reply" value="" />
                        </form>
                    {% endifequal %}
                    {% ifequal state.discussion_responded_id|add:"0" msg.id|add:"0" %}
                        <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
                    {% endifequal %}
                </div>

                {% for rsp in msg.discussion_set.all reversed %}
                    {% if rsp.moderated %}
                        <div class="item-large grey-back reply">
                            <div><span class="white-front bold-font">{{ rsp.author.first_name }}</span> <span class="lightgrey-front">{{ rsp.publishdate | naturaltime }}</span></div>
                            <p class="white-front">{{ rsp.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <form name="more_form" method="post" action="?" class="item grey-back">{% csrf_token %}
                {{ state.discussion_page }} of {{ state.discussion_page_max }}
                {% if state.discussion_page < state.discussion_page_max %}
                <button type="submit" name="more_button" class="green-front link" value="">Load more Comments ></button>
                <input type="hidden" name="page" value="" />
                {% endif %}
            </form>
        </div>
        {% endif %}
{% endblock %}