-e git+https://github.com/praekelt/mobileu.git@develop#egg=django-mobileu
# -e git+/home/newuser/praekelt/mobileu/.git@develop#egg=django-mobileu
django-google-analytics-app==2.1.6
raven==5.0.0
psycopg2
django_bleach
beautifulsoup4
go_http
celery==3.1.12
django-lockout
requests_testadapter
mock
xlwt
python-dateutil
coverage==4.2
django-boolean-sum
elasticsearch
django-progressive-web-app==0.1
pyopenssl==0.13.1 pyassnl ndg-httpsclient
