{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% block content %}

<p>Write message:</p>
<p>The following syntax can be used when messaging learners:<br/>
         |autologin| will be replaced with an automatic login link for that learner. <br/>
         |password| will send the learner their password (only usable once).</p>
<form action="" method="post">
    {% csrf_token %}
    {{ sms_form }}

    <p>The sms will be sent to:</p>

    <ul>{{ learners|unordered_list }}</ul>

    <input type="hidden" name="action" value="send_sms" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" name="apply" value="Send smses" />
</form>

{% endblock %}