{% extends "core/main.html" %}

{% block title %}Badges{% endblock %}
{% block page_descriptor_text %}Badges{% endblock %}

{% block content %}
    <article class="content squash-accent">
        <h1>All badges</h1>

        <div>
            {% for badge in badges %}
                <div class="badgecontainer {% if not badge.achieved %}disabled-badge{% endif %}">
                    {% if badge.achieved %}
                        <div class="badge-counter background-color-accent">{{ badge.count }}</div>
                    {% endif %}
                    {% if badge.image %}
                        <img class="badge" src="{{ badge.image.url }}">
    {#                    <li class="badge" style="background-image: url('{{ badge.image.url }}')"></li>#}
                    {% else %}
                        <li class="badge" style="background-image: url('/static/img/icn_badges.png')"></li>
                    {% endif %}
                    <div class="text center-font badge-name"><p>{{ badge.name }}</p></div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </article>

{% endblock %}
