{% extends "core/main.html" %}

{% block title %}LEADER{% endblock %}

{% block content %}
    {% load humanize %}
<div class="menu">
    <a href="/menu"><div class="text heading purple-back darkgrey-front"><li class="icon leaderboard"></li><p>{{ header_1 }}</p></div></a>
</div>
    <div class="text heading darkgrey-back">
        {% if position %}
            <p>{{ header_2 }} <span class="purple-front">{{ position |ordinal }} place</span></p>
        {% endif %}
    </div>

    <div class="content padded">
        {% if state.leader_menu %}
            <div class="popup pull-right lightgrey-back">
                {% for region in state.leader_regions %}
                    <form name="more_form" method="post" action="?">{% csrf_token %}<input type="hidden" name="region" value="{{ region.area }}" /><button type="submit" name="more_button" class="link">{{ region.area }}</button></form>
                {% endfor %}
            </div>
            <div class="clear"></div>
        {% endif %}
        <table class="borderless" width="100%" style="padding-bottom:1em;">
        {% for participant in learners %}
        <tr class="item grey-back {% if participant.me %}purple-front{% endif %}">
                <td class="body-copy vert-center slim-num-field">#{{ participant.position }}</td>
                <td class="body-copy vert-center wrap-words">{{ participant.name }}</td>
                <td class="body-copy text-right vert-center slim-num-field">{{ participant.points }}</td>
        </tr>
        {% endfor %}
        </table>

        {% for b in buttons %}
            <form name="leaderboard" action="" method="post">
                {% csrf_token %}
                <input type="submit" name="{{ b.name }}" class="button green-back grey-front" value="{{ b.value }}">
            </form>
        {% endfor %}
        </form>
    </div>

{% endblock %}