{% extends "core/main.html" %}

{% block title %}LEADER{% endblock %}

{% block content %}
    {% load humanize %}

    <div class="text heading red-back darkgrey-front"><li class="icon leaderboard"></li><p>Leaderboard</p></div>
    <div class="text heading darkgrey-back">{% if state.leader_place > 0 %}
        <p>Well done, you're in <span class="red-front">{{ state.leader_place|ordinal }} Place</span>
    {% else %}
        <p>You do not live here, thus you don't have a ranking</p>
    {% endif %}

    </p>

    <form name="more_form" method="post" action="?" class="pull-right">{% csrf_token %}
        <button type="submit" name="leader_menu" class="red-front link text" value="{{ state.leader_menu }}">{{ state.leader_region }}<li class="icon down_red"></li></button>
    </form>
 </div>

    <div class="content narrow">
        {% if state.leader_menu %}
            <div class="popup pull-right lightgrey-back">
                {% for region in state.leader_regions %}
                    <form name="more_form" method="post" action="?">{% csrf_token %}<input type="hidden" name="region" value="{{ region.area }}" /><button type="submit" name="more_button" class="link">{{ region.area }}</button></form>
                {% endfor %}
            </div>
            <div class="clear"></div>
        {% endif %}

        {% for participant in learners %}
            <div class="item grey-back {% if participant.me %}red-front{% endif %}">
                <div class="large-font pull-left">#{{ forloop.counter }}</div>
                <div class="large-font pull-left" style="padding-left:40px">{{ participant.learner.first_name }} ({{ participant.learner.area }})</div>
                <div class="large-font pull-right">{{ participant.points }}</div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}