{% extends "core/main.html" %}

{% block title %}ON TRACK{% endblock %}

{% block content %}
<div class="menu">
    <a href="/menu"><div class="text heading green-back darkgrey-front"><li class="icon ontrack"></li><p>On Track</p></div></a>
</div>
    <div class="text heading darkgrey-back" style="padding-top: 15px ; padding-bottom: 5px"><p>OnTrack shows you how well
        you are doing for each section of the syllabus. You'll need to
        answer a few questions in each section before we're able to show
        you a score, until then it will appear empty</p></div>
    <div class="text heading darkgrey-back"><p>Your progress so far</p></div>

    <div class="menu">
        {% for mod in modules %}
            <div class="item text grey-back {% if mod.score > 80 %}green-front{% elif mod.score > 56 %}orange-front{% elif mod.score > -1 %}red-front{% else %}white-front{% endif %}">
                <p>{% if mod.module_link != None and mod.module_link != "" %}
                        <a href="//{{ mod.module_link }}" target="blank">{{ mod.name }}</a>
                    {% else %}
                        {{ mod.name }}
                    {% endif %}
                    <span class="right large-font">{% if mod.score > -1 %}{{ mod.score | floatformat:0 }}% {% else %}<li class="icon ontrack"></li>{% endif %}</span>
                </p>
            </div>
        {% endfor %}
    </div>

    <p class="darkgrey-back white-front center-font">Just remember: Your On Track score does not necessarily guarantee results in school.</p>

{% endblock %}