{% extends "core/main.html" %}

{% block title %}POINTS{% endblock %}

{% block content %}
    <div class="menu">
    <a href="/menu"><div class="text heading purple-back darkgrey-front"><li class="icon points"></li><p>Points</p></div></a>
    </div>
    <div class="text heading darkgrey-back"><p>Your points earned<span class="purple-front large-font-normal pull-right">{{ state.points_points }}</span></p></div>
    <div class="content padded">
        <table class="borderless" width="100%">
            {% for mod in modules %}
                <tr class="item grey-back white-front">
                    <td class="body-copy vert-center wrap-words">{{ mod.name }}</td>
                    <td class="text-right body-copy vert-center slim-num-field">{{ mod.score }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}