{% extends "core/main.html" %}

{% block title %}POINTS{% endblock %}

{% block content %}
    <a href="/menu"><div class="text heading orange-back darkgrey-front"><li class="icon points"></li><p>Points</p></div></a>
    <div class="text heading darkgrey-back"><p>Your points earned<span class="orange-front large-font pull-right" style="margin-right:25px">{{ state.points_points }}</span></p></div>

    <div class="menu">
        {% for mod in modules %}
            <div class="item text grey-back white-front"><p>{{ mod.name }}<span class="right large-font">{{ mod.score }}</span></p></div>
        {% endfor %}
    </div>

{% endblock %}