
.footer {
    height: 100%;
    color: #646464;
    text-align: center;
}

.footer-note {
    color: #646464;
}

.footer-list {
   display: block;
}

.footer-list--item {
    display: inline-block;
}

.footer-list--item a {
    color: #646464;
    text-decoration: none;
    font-weight: bold;
}