{% extends "core/main.html" %}

{% block title %}Leaderboard{% endblock %}

{% block page_descriptor_text %}Share leaderboard{% endblock %}

{% block content %}
    {% load oneplus_extras %}

    <article class="content squash-accent">
        <h1 class="center-font">
            {% if share_board.type == 'class' %}Your position in your grade
            {% elif share_board.type == 'school' %}Your school's position
            {% elif share_board.type == 'national' %}Your national position
            {% endif %}
        </h1>

        <article class="card border-color-accent" id="class-leaderboard">
            <section class="top">
                {% if share_board.type == 'class' %}
                    <div class="img-container">
                        <img class="limit-size" src="/media/img/leaderboard/leaderboard_class.png" width="100%" height="auto"/>
                    </div>
                    <h3 class="card-top-phrase">Grade Leaderboard</h3>
                {% elif share_board.type == 'school' %}
                    <div class="img-container">
                        <img class="limit-size" src="/media/img/leaderboard/leaderboard_school.png" width="100%" height="auto"/>
                    </div>
                    <h3 class="card-top-phrase">School Leaderboard</h3>
                {% elif share_board.type == 'national' %}
                    <div class="img-container">
                        <img class="limit-size" src="/media/img/leaderboard/leaderboard_national.png" width="100%" height="auto"/>
                    </div>
                    <h3 class="card-top-phrase">National Leaderboard</h3>
                {% endif %}
            </section>
            {% if share_board.position %}
                <hr class="hr-accent" />
                <section class="bottom">
                    <div class="center-font">{{ user.name }}, you're currently in</div>
                    <div class="center-font color-accent funky-number">{{ share_board.position|ordinal_extra:'sup' }} place</div>
                </section>
            {% endif %}
        </article>

        <article class="card border-color-accent">
            <section class="center-font top{% if share_board == ' ' or '' %} semi-transparent{% endif %}">
                <div>Share this with your friends and family:</div>
                {% if allow_sharing %}
                    <ul class="center-font inline">
                        <li class="js-required should-block" id="fb-share-badge" style="display:none">
                            <a class="vert-center"
                               href="https://www.facebook.com/dialog/share?app_id={{ FB_APP_NUM|urlencode:'' }}&display=popup&href={{ FB_REDIRECT |urlencode:'' }}{{ share_url|urlencode:'' }}&redirect_uri={{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}">
                                <span class="icon fb-logo vert-center" style="margin:-6px"></span>Share on Facebook
                            </a>
                        </li>
                        <li class="js-required should-block" style="display:none">
                            {% if share_board.type != 'school' %}
                                <a class="vert-center" href="https://twitter.com/intent/tweet?text={{ "Look at my position in the " }}{{ share_board.type|urlencode:'' }}{{ " leaderboard!"|urlencode:'' }}&url={{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}" src="">
                                    <span class="icon tw-logo vert-center" style="margin:-6px"></span>Share on Twitter
                                </a>
                            {% else %}
                                <a class="vert-center" href="https://twitter.com/intent/tweet?text={{ "Look at my school's position in the " }}{{ share_board.type|urlencode:'' }}{{" leaderboard!"|urlencode:'' }}&url={{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}" src="">
                                    <span class="icon tw-logo vert-center" style="margin:-6px"></span>Share on Twitter
                                </a>
                            {% endif %}
                        </li>
                        <li class="js-required should-block" style="display:none">
                            <a class="vert-center" href="https://plus.google.com/share?url={{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}" onclick="javascript:window.open(this.href,
                              '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                              <span class="icon gp-logo vert-center" style="margin:-6px"></span>Share on Google plus
                            </a>
                        </li>
                        <li id="wa-share-badge">
                            <a class="vert-center"
                               href="whatsapp://send?text={{ "Look at my position in the " }}{{ share_board.type|urlencode:'' }}{{ " leaderboard! "}}{{ FB_REDIRECT |urlencode:'' }}{{ share_url|urlencode:'' }}">
                                <span class="icon wa-logo vert-center" style="margin:-6px"></span>Share on WhatsApp
                            </a>
                        </li>
                        <li class="center-font">
                            <a href="{% url 'public:leaderboard' board_type=share_board.type %}?p={{ participant.id }}" class="inline" style="line-height:2;">Link to the public page</a><br />
                        </li>
                        <script>
                            var jsRequiredClasses = document.querySelectorAll(".js-required.should-block");
                            if (jsRequiredClasses) {
                                for (var counter = 0; counter < jsRequiredClasses.length; counter++) {
                                        jsRequiredClasses[counter].style["display"] = 'block';
                                }
                            }
                        </script>
                    </ul>
                    <input type="text" value="{{ FB_REDIRECT|urlencode:':/' }}{% url 'public:leaderboard' board_type=share_board.type %}?p={{ participant.id }}" />
                {% else %}
                    <ul>
                        <li>
                            <p>You will not be able to share your level until you give us
                                <a href="{% url "auth.profile" %}" >permission to share your achievements</a>.
                            </p>
                        </li>
                    </ul>
                {% endif %}
            </section>
        </article>
    </article>
{% endblock content %}
