{% extends "core/main.html" %}

{% block title %}ABOUT{% endblock %}

{% block content %}

    <div class="text heading darkgrey-back lightgrey-front"><li class="icon information"></li><p>About Us</p></div>
    <div class="content narrow darkgrey-back">
    <p>OnePlus is an initiative between Investec and Praekelt Foundation,
        with the aim of giving learners the information and guidance that they need in order to succeed in Maths.
        The project is currently tailored for Grade 11 learners, but aims to extend to cover the full high school
        curriculum in a number of South African languages in the near future.</p>
    </div>
{% endblock %}