{% extends "core/main.html" %}

{% block title %}ABOUT{% endblock %}
{% block page_descriptor_text %}About Us{% endblock %}

{% block content %}
    <article class="content pale-teal-accent">
        <h1 class="color-accent">About us.</h1>
        <p>
            Welcome to <b>dig-it</b>!
        </p>
        <p>
            <b>dig-it</b> is a mobisite designed to support Grade 10 - Grade 12 maths learners. Our fun, gamified,
            environment lets you practice and revise maths - with no pressure.
        </p>
        <p>
            <b>dig-it</b> will help you improve your year-end maths mark. That’s a promise. All you have to do is play
            by the rules.
        </p>
        <p>
            Our rules are simple: answer 3 questions every day of the school week - and you’ll earn airtime to come
            back and do the same the following week.
        </p>
        <p>
            You get extra points for right answers, and badges for making the effort. Mistakes are okay - because
            that’s how you learn. So you can get your wrong answers right by trying again, or use our tutorials to
            refresh your memory after maths class.
        </p>
        <p>
            All our questions are based on the maths syllabus for your grade. And you can ask our friendly online maths
            teacher to help you solve an unfriendly maths problem - without even raising your hand.
        </p>
        <p>
            You can achieve anything once you learn to play the game.
        </p>

        <h3 class="left-font">What’s next?</h3>
        <p>
            <ol class="numbered">
                <li>Register on dig-it</li>
                <li>Complete all 15 weekly questions</li>
                <li>Take our challenges, win points and earn badges</li>
                <li>Watch your marks go up</li>
                <li>Apply these rules to life - and score!</li>
            </ol>
        </p>

        <h3 class="left-font">Who’s responsible for dig-it?</h3>
        <p>
            <b>dig-it</b> was built by Praekelt.org in partnership with Investec. Investec is a Specialist Bank and
            Asset Manager. <b>dig-it</b> was born out of the Investec ProMaths programme, a partnership between Investec and
            Kutlwanong Maths, Science and Technology Centre, which provides extra tuition in Maths and Science to
            learners in Grades 10 to 12 at selected schools across the country.
        </p>

        <h2>Site rules</h2>

        <h3 class="left-font">This is a safe space - keep it clean</h3>
        <p>
            We don’t allow swearing, rudeness, abusive or sexually explicit comments or any other bad behaviour
            towards members of the dig-it.me community.
        </p>

        <h3 class="left-font">Take part</h3>
        <p>
            If you see a comment or a question on our site that you think is offensive or abusive to an individual or
            group of people, then you can play a part in having it removed. All you have to do is
            click the ‘Report’ option underneath the comment and we’ll take a closer look to see if it should be removed
            from the site.
        </p>

        <h3 class="left-font">Keep your deets to yourself</h3>
        <p>
            It can be risky to post your phone number or e-mail address on any site.
            So keep your personal details private.
        </p>

    </article>
{% endblock %}
