{% extends "core/main.html" %}

{% block title %}ABOUT{% endblock %}

{% block content %}

    <div class="text heading darkgrey-back darkgrey-front"><li class="icon information"></li><p>About Us</p></div>

    <h1 class="green-front bold-font">Lorem Ipsum Heading</h1>
    <p class="white-front">Lorem ipsum dolor sit amet, consectetur adiasf aoisf oaisf oaijsoafj asf oiajsf dffsdf.</p>

    <h1 class="green-front bold-font">Lorem Ipsum Heading</h1>
    <p class="white-front">Lorem ipsum dolor sit amet, consectetur adiasf aoisf oaisf oaijsoafj asf oiajsf dffsdf.</p>

    <h1 class="green-front bold-font">Lorem Ipsum Heading</h1>
    <p class="white-front">Lorem ipsum dolor sit amet, consectetur adiasf aoisf oaisf oaijsoafj asf oiajsf dffsdf.</p>


{% endblock %}