{% extends "core/main.html" %}

{% block title %}CONTACT{% endblock %}

{% block page_descriptor_text %}Contact{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">Need Help?</h1>
        <h2>Send us a message with your query.</h2>
        {% if state.sent %}
            <div class="large-font green-front">
                Your message has been sent. We will get back to you in the next 24 hours
            </div>
        {% else %}
            {% if state.valid_message > 1 %}
                <div class="large-font green-front">
                {% for message in state.valid_message %}
                {{ message }}<br/>
                {% endfor %}
                <br/>
                </div>
            {% endif %}
            <form name="contact_form" method="post" action="?" class="comment">{% csrf_token %}
                <label labelfor="contact">Mobile number</label>
                <input type="text" name="contact" placeholder="e.g. 073 276 1234" value="{{ state.contact }}"><br>
                <textarea type="text" name="comment" placeholder="Type a message…" value="" ></textarea><br><br/>
                <button type="submit" name="contact_button" class="button border-color-accent color-accent" value="Submit">Submit</button>
            </form>
        {% endif %}
    </article>

{% endblock %}
