{% extends "core/main.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="blue-front xlarge-font center-font">FAQ</h1>
        <p class="left-font"><b>When will I get my airtime reward?</b></p>
        <p class="left-font">Airtime is disbursed on a Monday</p>

        <p class="left-font"><b>How much is my airtime reward?</b></p>
        <p class="left-font">R5</p>

        <p class="left-font"><b>The correct answer is not displayed.</b></p>
        <p class="left-font">There is a discussion box below every challenge. Send us a message if you don’t think the correct answer has been displayed. Tell us what you think the answer should be and we’ll look into it for you.</p>

        <p class="left-font"><b>I chose the right answer but it says I got it wrong. What does this mean?</b></p>
        <p class="left-font">There is a discussion box below every challenge. Send us a message if you think that the answer is incorrect. Tell us what you think the answer should be, and we will look into it for you.</p>

        <p class="left-font"><b>Can a friend join? </b></p>
        <p class="left-font">Not yet, but we’ll be opening up more spaces soon.</p>

        <p class="left-font"><b>Why are there only 3 questions per day?</b></p>
        <p class="left-font">Research shows that consistent daily practice throughout the year is the best way to revise maths. It’s also the quickest way to get through your maths revision and do your other homework.</p>

        <p class="left-font"><b>What if I miss a day?</b></p>
        <p class="left-font">That’s ok! You can answer the challenges you missed the next day. But to earn badges or airtime rewards, make sure you’ve completed a full week’s revision by Saturday. Our system is reset each Sunday.</p>

        <p class="left-font"><b>I forgot my password. What should I do? </b></p>
        <p class="left-font">Below the ‘Sign In’ button, you’ll see a ‘Forgot Password’ link. Click this and we’ll send you a new password.</p>

        <p class="left-font"><b>I changed my phone number. What should I do? </b></p>
        <p class="left-font">Below the ‘Sign In’ button, there is a ‘ProMaths learner but can’t Sign In’ link. Click this to let us know you have a new number. Include the new number in your message and we’ll register that new number.</p>
    </div>
{% endblock %}