{% extends "core/main.html" %}

{% block title %}FAQ{% endblock %}
{% block page_descriptor_text %}FAQ{% endblock %}

{% block content %}
    <article class="content grouped-titles pale-teal-accent">
        <h1 class="color-accent">FAQ</h1>
        <h3 class="left-font">I changed my phone number. What should I do?</h3>
        <p>
            Go to ‘Menu’, then to ‘Profile’, and on this page, you can update your phone number. It is very important that
            your phone number is correct so that when you earn airtime, it comes to the right number.
        </p>

        <h3 class="left-font">I forgot my password. What should I do?</h3>
        <p>
            Below the ‘Sign In’ button, you’ll see a ‘Forgot Password’ link. Click the link and we'll SMS you a link
            where you will be able to change your password.
        </p>

        <h3 class="left-font">I’ve moved School, or changed Grade. What should I do?</h3>
        <p>
            Go to ‘Menu’, then to ‘Profile’, and on this page, click ‘edit’ at the top of the page. Here you can review
            your current School and Grade. If they are incorrect, please clink on the ‘contact us’ link, and
            send us a message letting us know which school or which Grade you would like to be moved to. We will then
            change it for you.
        </p>

        <h3 class="left-font">Can a friend join?</h3>
        <p>
            Yes! If your friend is in Grade 10, 11 or 12, you’re welcome to give them the url and they can
            join the community.
        </p>

        <h3 class="left-font">Why are there only 3 questions per day?</h3>
        <p>
            Research shows that consistent daily practice throughout the year is the best way to revise maths. It’s also
            the quickest way to get through your maths revision and do your other homework.
        </p>

        <h3 class="left-font">What if I miss a day?</h3>
        <p>
            That’s ok! You can answer the challenges you missed the next day. But to earn badges or airtime rewards,
            make sure you’ve completed a full week’s revision by the end of Sunday. New questions are made available
            every Monday morning.
        </p>

        <h3 class="left-font">How can I win airtime?</h3>
        <p>
            You can win airtime if you complete all 15 questions for the week and achieve 80% or more for those questions
            i.e. 12 questions correct.
        </p>

        <h3 class="left-font">When will I get my airtime reward?</h3>
        <p>
            Airtime is disbursed on a Monday.
        </p>

        <h3 class="left-font">How much is my airtime reward?</h3>
        <p>
            R5

        <h3 class="left-font">How can I earn points?</h3>
        <p>
            You can earn points by answering questions correct.
        </p>

        <h3 class="left-font">How does the leaderboard work?</h3>
        <p>
            Your school’s place on the School Leaderboard is based on the total number of points earned by all of the users
            in your class. So for your class to move up on that leaderboard, more of your classmates need to be
            answering questions on dig-it, and answering them correct.
            Your place on the National and Grade Leaderboards is based on your overall % correct of all questions
            that you’ve answered this year. So to move up on that leaderboard, you need to answer more questions correct.
        </p>

        <h3 class="left-font">How do the levels work?</h3>
        <p>
            You can move up a level by earning points. There are 7 levels. You will have mastered maths once you reach
            Level 7.
        </p>

        <h3 class="left-font">What are badges?</h3>
        <p>
            Badges are earned for a significant achievement or milestone reached.
        </p>

        <h3 class="left-font">Can I earn points and airtime by redoing my questions?</h3>
        <p>
            You will earn points by re-doing your questions, but you will only win airtime if you answer the questions
            correct first time round.
        </p>

        <h3 class="left-font">How does SUMit week work? </h3>
        <p>
            Every now and then, you will see that it is SUMIt week! During this week, you will be given a challenge,
            to climb from basecamp through the foothills, until you summit the mountain. You will still answer 3 questions
            each day, but as you climb higher, the questions will get more and more challenging. Only a few mighty ones
            manage to summit the mountain at the end of the week. To do so, you will need to answer every question correct.
        </p>

        <h3 class="left-font">My answer was not presented as an option. What can I do?</h3>
        <p>
            Below every question there is a “Find a mistake? <b><u>Report it here</u></b>” link. Please report the question
            if you don’t think the correct answer has been displayed, or if you find an error in the question.
            Tell us what you think the error is and we’ll look into it for you.
        </p>

        <h3 class="left-font">I chose the right answer but it says I got it wrong. What does this mean?</h3>
        <p>
            Below every question there is a “Find a mistake? <b><u>Report it here</u></b>” link. Please report the question
            if you don’t think the correct answer has been displayed, or if you find an error in the question.
            Tell us what you think the error is and we’ll look into it for you.
        </p>
    </article>
{% endblock %}
