{% extends "core/main.html" %}

{% block title %}WELCOME{% endblock %}

{% block content %}
    <div class="menu">
        <a href="/menu"><div class="text heading green-back darkgrey-front"><li class="icon welcome"></li><p>Welcome</p></div></a>
    </div>
    <div class="content">
        <p class="left-font">Welcome to OnePlus!</p>
        <p class="left-font">OnePlus is a maths revision game. If you play consistently throughout the year your marks will improve, because as they say, “the only way to revise maths is to do maths”!</p>
        <p class="left-font">Every weekday (Monday to Friday) 3 challenges will be unlocked for you to answer. Work them out using a pen and paper and then pick the correct answer from the 3 options given.</p>
        <p class="left-font">If you pick an incorrect answer, you will be shown the fully worked solution, and you will be given a link to a page in the textbook where you can revise the relevant section again.</p>
        <p class="left-font">You will earn badges for things like getting 3 questions in a row correct, achieving 50 points, and posting a great comment in the chat room.
                                And if you complete all 15 questions in the week, and you achieve 60% or more, you will receive R5 airtime so that you can play for free the following week.
                                Airtime is disbursed on a Monday.</p>
        <p class="left-font">In the menu bar at the top right corner of your screen, you will find the following:</p>
        <p class="left-font"><b>On Track</b> - where you can see which sections you are doing well in, and which need a bit more work.</p>
        <p class="left-font"><b>Badges</b> - where you can see which badges you’ve earned already</p>
        <p class="left-font"><b>Chat Groups</b> - where you can chat to your classmates, and work together to solve difficult challenges.</p>
        <p class="left-font"><b>Blog</b> - where you can read interesting articles </p>
        <p class="left-font"><b>Leaderboard</b> - where you can see how you’re doing compared to your classmates</p>
        <p class="left-font"><b>Points</b> - where you can see how many points you’ve earned</p>
        <p class="left-font"><b>Inbox</b> - where we can send you a message, or you can send us a direct message</p>
        <p class="left-font">So now that you know what it’s all about, go on and take the first challenge by clicking the link below. Enjoy the game :)</p>
        <a href="next" class="button green-back grey-front">Get Started</a>
    </div>
{% endblock %}