{% extends "core/main.html" %}

{% block title %}WELCOME{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="green-front xlarge-font center-font">Welcome</h1>
        <p class="left-font">Welcome to OnePlus!</p>
        <p class="left-font">OnePlus is a maths revision game. If you keep playing every day, your marks will improve. That’s because the only way to revise maths is to DO maths!</p>
        <p class="left-font">From Monday to Friday every week, you’ll get 3 maths challenges to answer. Use a pen and paper to work out the answer yourself.
            Then find and select the answer that matches yours from the 3 options provided. </p>
        <p class="left-font">If your answer is incorrect, we’ll show you the fully worked solution to figure out where you went wrong.
            You’ll also be given a link to the page in your textbook where you can revise the section again.</p>
        <p class="left-font"><b>You’ll earn badges for:</b></p>
        <ul class="bullets">
            <li>getting 3 right answers in a row</li>
            <li>reaching 50 points</li>
            <li>posting a great comment in the chat room etc.</li>
        </ul>
        <p class="left-font"><b>You’ll also win airtime for doing well!</b></p>
        <p class="left-font">Every week that you complete all 15 questions with 60% or more right answers, you’ll get R5 airtime to play for free the next week. You’ll get your airtime every Monday.</p>
        <p class="left-font"><b>Start by finding your way around:</b></p>
        <p class="left-font">In the menu bar at the top right corner of your screen, you’ll find the following site sections:</p>
        <p class="left-font"><u>On Track</u> - see which sections you’re doing well in, and which need a bit more work</p>
        <p class="left-font"><u>Badges</u> - see which badges you’ve earned already</p>
        <p class="left-font"><u>Chat Groups</u> -  chat to your classmates and work together to solve difficult challenges</p>
        <p class="left-font"><u>Blog</u> - read interesting articles</p>
        <p class="left-font"><u>Leaderboard</u> - see how you’re doing compared to your classmates</p>
        <p class="left-font"><u>Points</u> -see how many points you’ve earned</p>
        <p class="left-font"><u>Inbox</u> - where direct messages are sent and received between you and us</p>
        <p class="left-font"><b>Now you’re ready! Take the first challenge by clicking the link below. Enjoy the game :)</b></p>
        <a href="next" class="button green-back grey-front">Get Started</a>
    </div>
{% endblock %}