{% extends "core/main.html" %}

{% block title %}Change Profile{% endblock %}

{% block page_descriptor_text %}Profile{% endblock %}

{% block content %}
    {% load oneplus_extras %}
    <article class="content squash-accent">
        <h1 class="center-font">Share level</h1>

        <article class="card squash-accent border-color-accent">
            <section class="top">
                <h1 class="center-font color-accent">Level</h1>
                <div class="level-pip-container">
                    {% for i in levels %}
                        <div class="level-pip{% ifequal level i %} active background-color-accent{% endifequal %}">{{ i }}</div>
                    {% endfor %}
                </div>
                <div class="center-font">
                    {% ifequal level level_max %}
                        Respect! {{ learner_label }} has reached the highest level on dig-it.
                        {{ learner_label }} shall be called <b>Maths Master</b>.
                        {{ learner_label }} is awesome!
                    {% else %}
                        {{ learner_label }} is {{ points_remaining }} points away from Level {{ level|add:"1" }}.
                    {% endifequal %}
                </div>
            </section>
        </article>

        <article class="card border-color-accent">
            <section class="top">
                <div>Share this with your friends and family:</div>
                <ul class="center-font">
                    <li id="fb-share-level" style="display:none">
                        <a class="vert-center center-font"
                           href="https://www.facebook.com/dialog/share?app_id={{ FB_APP_NUM|urlencode:'' }}&display=popup&href={{ FB_REDIRECT |urlencode:'' }}{{ share_url|urlencode:'' }}&redirect_uri={{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}">
                            <span class="icon fb-logo vert-center" style="margin:-6px"></span>Share on Facebook
                        </a>
                        <script>document.getElementById("fb-share-level").style.display = "block";</script>
                    </li>
                    <li id="wa-share-badge">
                        <a class="vert-center center-font"
                           href="whatsapp://send?text={{ "Here's my level on dig-it! "|urlencode }}{{ FB_REDIRECT|urlencode:'' }}{{ share_url|urlencode:'' }}">
                            <span class="icon wa-logo vert-center" style="margin:-6px"></span>Share on WhatsApp
                        </a>
                    </li>
                    <li class="center-font">
                        <a href="{% url 'public:level'%}?p={{ participant.id }}" class="inline" style="line-height:2;">Link to the public page</a><br />
                        <input type="text" value="{{ FB_REDIRECT|urlencode:':/' }}{% url 'public:level'%}?p={{ participant.id }}" />
                    </li>
                </ul>
            </section>
        </article>
    </article>
{% endblock content %}
