{% extends "core/main.html" %}

{% block title %}Dig-it{% endblock %}

{% block header %}{% endblock %}

{% block content_classes %}no-top-padding{% endblock %}

{% block content %}
    <article class="content{% if page.accent_color %} {{ page.accent_color }}-accent{% endif %} page-margin-top">
        <h1 class="color-accent center-font">Welcome <br/>to dig-it.</h1>
        <article class="card border-color-accent">
            <section class="top">
                <div class="img-container">
                    <img class="limit-size" src="{{ page.img_url }}"/>
                </div>
                <br />
                <h3 class="card-top-phrase">{{ page.message }}</h3>
            </section>
        </article>
        <div class="center-font">
            {% ifnotequal page_num 0 %}<a class="button half-button" href="{% url 'misc.onboarding' %}?p={{ page_num|add:'-1' }}" >Previous</a>{% endifnotequal %}
            <a class="button half-button" href="{% url 'misc.onboarding' %}?p={{ page_num|add:'1' }}">Next</a>
        </div>
        <div class="progress-pips">
            {% for i in page_range %}
                <div class="pip {% ifequal i page_num %}background-color-accent{% endifequal %}" style="border-radius:50%;height:1em;width:1em;"></div>
            {% endfor %}
        </div>
        <div class="spaced-links">
            <a href="{% url 'misc.welcome' %}" class="inline-link center-font">Skip</a>
        </div>
    </article>
{% endblock content %}
