{% extends "admin/change_list.html" %}

{% block title %}Respond to SMS | OnePlus site admin{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="/admin/">Home</a></li>
            <li><a href="/admin/communication/">Communication</a></li>
            <li><a href="/admin/communication/sms/">Smses</a></li>
            <li>Respond to Sms</li>
        </ul>
    {% endif %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
            });
        })(grp.jQuery);
    </script>
{% endblock %}

{% block content_title %}
    <h1>Respond to SMS</h1>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="" method="post" id="sms_response_form">
        {% csrf_token %}
        <div id="grp-content-container">
            <fieldset class="grp-module ">
                <div class="l-2c-fluid l-d-4">
                    <h2>
                        <div class="c-1">Incoming Sms</div>
                        <a class="c-2" target="_blank" href="/admin/communication/sms/{{ sms.id }}/">Change Sms</a>
                    </h2>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label class="required">Name</label>
                        </div>
                        <div class="c-2">
                            <label>{{ participant.learner.first_name }}&nbsp;{{ participant.learner.last_name }}</label>
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label>Class</label>
                        </div>
                        <div class="c-2">
                            <label>{{ participant.classs.name }}</label>
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label>Course</label>
                        </div>
                        <div class="c-2">
                            <label>{{ participant.classs.course.name }}</label>
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label class="required">Author</label>
                        </div>
                        <div class="c-2">
                            <label>{{ sms.msisdn }}</label>
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label class="required">Publish Date</label>
                        </div>
                        <div class="c-2">
                            <label>{{ sms.date_sent }}</label>
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label class="required">Message Content</label>
                        </div>
                        <div class="c-2">
                            <label>{{ sms.message }}</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="grp-content-container">
            <fieldset class="grp-module ">
                <h2 class="grp-collapse-handler">Outgoing SMS</h2>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label class="required" >Publish Date</label>
                        </div>
                        <div class="c-2">
                            {% if ro %}
                                <label>
                                    {% if response.date_sent %}
                                        {{ response.date_sent }}
                                    {% else %}
                                        {{ response.send_date }}
                                    {% endif %}
                                </label>
                            {% else %}
                                <p class="datetime">
                                    <input class="vDateField" id="id_publishdate_0" name="publishdate_0" size="10" type="text" value="{{ v_date }}">
                                    <br>
                                    <input class="vTimeField" id="id_publishdate_1" name="publishdate_1" size="8" type="text" value="{{ v_time }}">
                                </p>

                                {% if dt_error %}
                                    <ul class="errorlist">
                                        <li>Please enter a valid date and time.</li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="grp-row grp-cells-1">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1">
                            <label for="id_content">Response Content</label>
                        </div>
                        <div class="c-2">
                            {% if ro %}
                                <label>{{ response.message }}</label>
                            {% else %}
                                <textarea cols="40" hidden="true" id="id_content" name="content" rows="10">{{ v_content }}</textarea>
                                <script>
                                    var settings_id_content = {
                                        "lang": "en-US",
                                        "url": {
                                            "upload_attachment": "/summernote/upload_attachment/"
                                        },
                                        "airMode": false,
                                        "height": "400",
                                        "styleWithSpan": true,
                                        "toolbar": [["style", ["style"]], ["style", ["bold", "italic", "underline", "clear"]], ["para", ["ul", "ol", "paragraph"]], ["table", ["table"]]]
                                    };
                                </script>

                                <iframe id="id_content_iframe" src="/summernote/editor/id_content/" frameborder="0" cols="40" rows="10" width="100%" height="400"></iframe>

                                {% if content_error %}
                                    <ul class="errorlist">
                                        <li>This field is required.</li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <footer class="grp-module grp-submit-row grp-fixed-footer">
                <header style="display:none"><h1>Submit Options</h1></header>
                <ul>
                    {% if not ro %}
                        <li><input type="submit" value="Save" class="grp-button grp-default" name="_save"></li>
                    {% endif %}
                </ul>
            </footer>
        </div>
    </form>
{% endblock %}