<h3 class="left-font title">Your use of the Site</h3>
<p class="left-font">
    This dig-it site (“the Site”) is for South African Grade 10, 11, and 12 Maths learners.
</p>
<p class="left-font">
    These Terms of Use are a contract between you and the Site owners (“Praekelt”). Make sure you read the terms before
    you continue using the Site, as by using the Site, you are agreeing to these terms. You also agree that, where
    applicable, your parents or guardian are aware that you are using the Site and have consented to such use. If you
    or your parents or guardian do not agree with any of these terms, please exit the Site.
</p>

<h3 class="left-font title">Changes to these Terms of Use</h3>
<p class="left-font">
    The Site owners may make changes to this contract or to the content and services available on the Site at any time.
    Please check this page regularly to see if anything has been changed or added. If you continue to use the Site
    after changes have been made, then, by your continued use you agree to the changes.
</p>

<h3 class="left-font title">Ownership and Contact Information</h3>
<p class="left-font">
    If you have any questions or concerns relating to the Site or these Terms, you may contact us by email at
    <a href="mailto:info@dig-it.me">info@dig-it.me</a>.
</p>

<h3 class="left-font title">Privacy</h3>
<p class="left-font">
    Protecting your personal information is our priority. After you provide your personal information and register, you
    can use this Site for learning and community support. You allow us to use this information in connection with your
    use of the Site and your arising relationship with the Site owners and the Site community. The Site’s owners will
    take all reasonable steps to protect your personal information. Your personal information will only be disclosed
    where you have given permission, or as required by law, or to authorised third parties. If you do not want us to
    collect personal information about you, do not submit your personal information to the dig-it Site.
</p>
<p class="left-font">
    We collect information that your browser sends to us whenever you visit our Site. This may include information such
    as your device's browser type, browser version, the time and date of your visit and other statistics. We may use
    third party services such as Google Analytics that collect, monitor and analyse this data.
</p>
<p class="left-font">
    We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when
    a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
</p>

<h3 class="left-font title">Your Use of this Site</h3>
<h4 class="left-font sub-title">Liability</h4>
<p class="left-font">
    We take all reasonable steps to prevent any foreseeable harm to you or your device which may be caused by
    this Site’s software or related in any way to your use of this Site. By using the Site you have agreed to these
    Terms of Use, that you are using the Site at your own risk and that you will not hold the Site’s owners or
    operators responsible in any way for damage, harm or loss due to your use of the Site. By using this Site you agree
    that you will not be able to hold the Site owners and operators liable for any loss experienced by you.
</p>
<h4 class="left-font sub-title">Disclaimer</h4>
<p class="left-font">
    The content on this Site (i.e. challenges, text, images, and any other material (“Content”)) is intended to be
    informational. It is not intended to replace professional training or the Maths curriculum. Information and
    opinions expressed on this Site by Community Managers, Experts, Tutors or users of this Site community should not
    be regarded as our official opinion.
</p>
<h4 class="left-font sub-title">Reports</h4>
<p class="left-font">
    You agree that we are allowed to use your Content and personal information for reporting to our stakeholders.
    Your information will be treated confidentially.
</p>

<h3 class="left-font title">Content created by you</h3>
<p class="left-font">
    You are responsible for all content that you post in comments, group chats or discussions. By submitting content
    you’ve created to the Site, you are stating that you have the right to share it, that it is not confidential,
    that it is related to Maths and the Content will not harm anyone else.
</p>
<p class="left-font">
    You own all your Content and can do with it as you wish. When you upload your Content onto the Site, you give us
    the right to share and reuse your Content even after you have cancelled your Site membership. If you do not want to
    give the Site owner permission to use the Content you contribute, please do not submit your Content on the Site.
</p>

<h3 class="left-font title">Ownership and Intellectual Property Rights</h3>
<p class="left-font">
    All Site content (not user content) is the property of Investec and their third party contributors or licensors.
    Source Code for the Site is owned by Praekelt.org and licensed under the BSD 3-clause license. Data collected by
    the Site is owned by Investec.
</p>
<h4 class="left-font sub-title">Your use of Content</h4>
<p class="left-font">
    You can use the Content on this Site for personal, non-commercial purposes only, provided that you do not remove or
    obscure any copyright or trademark notices. If you wish to use the Content for any other purpose, you must first
    write to us to ask for permission.
</p>
<p class="left-font">
    Since we own all trademarks, logos, and designs on this Site, you may not use them or display them without asking
    our permission to do so first.
</p>
<p class="left-font">
    If you see anything on the Site which you think may infringe copyright, please contact us at
    <a href="mailto:info@dig-it.me">info@dig-it.me</a>.
</p>

<h3 class="left-font title">Contact with advertisers, third parties and other sites</h3>
<p class="left-font">
    From time to time, you may see links or advertisements from other organisations on our Site for your convenience.
    Since we don’t own, nor are we responsible for the quality of their services, you agree not to hold us liable for
    anything that happens as a result of interacting with these sites. We encourage you to be aware when you leave
    our Site, and to read the terms and conditions and privacy policy of any other site or service that you visit
    as you enter those sites at your own risk.
</p>

<h3 class="left-font title">Security</h3>
<p class="left-font">
    If anybody attempts to hack this Site in order to access pages they shouldn’t access or to damage the site’s code,
    they could be prosecuted under South African law.
</p>

<h3 class="left-font title">Membership</h3>
<p class="left-font">
    Please keep your dig-it login information (including your username and password) private. Please make sure
    that you are the only person who has access to your account.
</p>

<h3 class="left-font title">Modification or Suspension of the Site</h3>
<p class="left-font">
    The Site owners have the right to make changes to, or to close the Site without notice. We will do our best
    to notify our users, but this may not always be possible.
</p>

<h3 class="left-font title">Breach of these Terms of Use</h3>
<p class="left-font">The Site owners would like all Site users to have a positive experience on dig-it. This contract
    intends to create a safe environment for users. If a user breaks the rules explained in this contract, then we
    have the right to suspend that person’s account or to prevent them from visiting this Site in the future.
    We reserve the right to control who accesses the Site and who does not. This is at our own discretion.
</p>

<h3 class="left-font title">Applicable Law</h3>
<p class="left-font">
    Since dig-it is located in South Africa, the laws that apply to this contract are the laws of South Africa.
</p>
