{% extends "core/main.html" %}

{% block title %}HELLO{% endblock %}
{% block header %}{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent center-font">Welcome to dig-it.</h1>
        <section class="center-font">
            <img src="/media/img/welcome1.png" />
        </section>
        <h2 class="center-font">Ready to improve your maths mark?</h2>

        {% if space %}
            <a href="signup_form" class="button border-color-accent color-accent">Sign up</a>
        {% endif %}
        <a href="login" class="button">Log in</a>
    </article>

{% endblock %}
