{% extends "core/main.html" %}

{% block title %}HELLO{% endblock %}
{% block header %}{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">Welcome to dig-it.</h1>
        <section>

        </section>
        <h2>Ready to improve your maths mark?</h2>

        {% if space %}
            <a href="signup_form" class="button border-color-accent color-accent">Sign Up</a>
        {% endif %}
        <a href="login" class="button">Log In</a>
    </article>

{% endblock %}
