{% extends "core/main.html" %}

{% block title %}HELLO{% endblock %}

{% block content %}

    <div class="content">
        <h1 class="green-front xlarge-font center-font">Hello</h1>
        <p class="center-font">OnePlus is a maths challenge and revision portal for High School learners. Earn points, badges and even airtime by solving challenges. By revising your maths in small bits everyday, you'll be well prepared come exam time!</p>
        <a href="login" class="button green-back">Sign In</a>
    </div>

{% endblock %}