.heading {
    width: 100%;
}

.heading a {
    display: inline;
    margin: 0;
}

.heading-mid {
    font-size: 25px;
    display: inline;
}

.heading-large {
    font-size: 39px;
    display: inline;
}
