<!DOCTYPE html>
<html>
<head>
    <link href="//fonts.googleapis.com/css?family=Asap|Lato" rel="stylesheet">
    <title>DIG-IT | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/oneplus.css" %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>
<body>
    {% load google_analytics_tags %}
    <img src="{% google_analytics request %}" width="1px" height="1px" style="position:absolute;top:0;right:0;" />

    {% block header %}
        <header style="text-align:justify;height:36px;">
            <div class="header-item">
                {% if user.name %}
                    <a href="/menu" >
                        {% block menu_icon %}
                            <li class="icon back"></li>
                        {% endblock %}
                        {% block menu_text %}
                            <div style="vertical-align:middle;display:inline;">Menu</div>
                        {% endblock %}
                    </a>
                {% else %}
                    <a href="login" class="menu-login">Sign In</a>
                {% endif %}
            </div>

            {% block page_descriptor %}
                <div class="header-item page-descriptor">{% block page_descriptor_text %}{% endblock %}</div>
            {% endblock %}

            <div style="display:inline-block;width:100%;"></div>
        </header>
    {% endblock %}

    <article class="container">
        {% block content %}{% endblock %}
    </article>

    <footer>
        <a class="link-side-by" href="/about">About</a>
        <a class="link-side-by" href="/contact">Contact</a>
        <a class="link-side-by" href="/terms">Terms</a>
        {% if user.name %}
            <a class="link-side-by" href="/signout">Log out</a>
        {% endif %}

    </footer>
</body>
</html>
