<!DOCTYPE html>
<html>
<head>
    <title>ONEPLUS | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/oneplus.css" %}">
</head>
<body>
    <div class="header">
        <div style="">
            <form name="DOTHEMENU" method="post" action="?">{% csrf_token %}
                <input type="hidden" name="switchmenu" value="{{ state.menu_visible }}">
                <button type="submit" name="menu" value="MENU" class="menu {% if state.menu_visible %}active{% endif %}" />
            </form>
        </div>
    </div>

    {% if state.menu_visible %}
        <div class="menu">
            <a class="item green" href="ontrack">On Track</a><br/>
            <a class="item cyan" href="badges">Badges</a><br/>
            <a class="item blue" href="chat">Chat Groups</a><br/>
            <a class="item purple" href="blog">Blog</a><br/>
            <a class="item red" href="leader">Leaderboard</a><br/>
            <a class="item orange" href="points">Points</a><br/>
            <a class="item yellow" href="inbox">Inbox</a><br/>

            <a class="item grey" href="settings">Settings</a><br/>
            <a class="item grey" href="help">Help</a><br/>
            <a class="item grey" href="login">Logout</a>
            <!--<a class="item" href="welcome">Home</a><br/>-->
        </div>
    {% else %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    {% endif %}

    <div class="footer">
        <div style="text-align: center">OnePlus is a collaboration between Investec & Praekelt Foundation</div>
        <div style="text-align: center"><a href="about">About</a> | <a href="contact">Contact</a></div>
    </div>
</body>
</html>