<!DOCTYPE html>
<html>
<head>
    <title>ONEPLUS | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/oneplus.css" %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>
<body>
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics request %}" width="0" height="0" />
</div>

<div class="header">

    <div class="menu-wrapper">
            {% if user.name %}
                    <a href="/menu" class="menu {% if state.menu_visible %}active{% endif %}" ></a>

            {% else %}
                <a href="login" class="menu-login green-front">Sign In</a>
            {% endif %}
    </div>

    <a href="/home"><div class="logo">
    </div></a>
</div>




        <div class="container">
            {% block content %}{% endblock %}
        </div>


    <div class="footer darkgrey-back pad-top">
        <div style="text-align: center">OnePlus is a collaboration between Investec & Praekelt Foundation</div>
        <div style="text-align: center"><a href="/about">About</a> | <a href="/terms">Terms</a> | <a href="/contact">Contact</a></div>
    </div>
</body>
</html>