{% extends "core/main.html" %}

{% block header_left %}
    <div class="header-item">
        <a href="/home" >
            <li class="icon close"></li>
        </a>
    </div>
{% endblock %}

{% block page_descriptor_text %}Menu{% endblock %}

{% block content %}
    <article class="content">
        <div class="main-menu">
            <a href="/profile"><div class="item text"><li class="icon profile"></li><span>Profile</span></div></a>
            <hr />
            <a href="/blog"><div class="item text"><li class="icon stories"></li><span>Stories</span></div></a>
            <hr />
            <a href="/chat"><div class="item text"><li class="icon chat"></li><span>Chat groups</span></div></a>
            <hr />
            <a href="/inbox"><div class="item text"><li class="icon inbox"></li><span>Inbox{% if state.inbox_unread > 0 %} ({{ state.inbox_unread }}){% endif %}</span></div></a>
            <hr />
            <a href="/faq"><div class="item text"><li class="icon faq"></li><span>FAQ</span></div></a>
            <hr />
            <a href="/contact"><div class="item text"><li class="icon contact"></li><span>Contact</span></div></a>
            {% comment %}
            <hr />
            <a href="/welcome"><div class="item text"><li class="icon welcome-color"></li><span>Welcome</span></div></a>
            <hr />
            <a href="/ontrack"><div class="item text"><li class="icon ontrack-color"></li><span>On track</span></div></a>
            <hr />
            <a href="/badges"><div class="item text"><li class="icon badges-color"></li><span>Badges</span></div></a>
            <hr />
            <a href="/leader"><div class="item text"><li class="icon leaderboard-color"></li><span>Leaderboard</span></div></a>
            <hr />
            <a href="/points"><div class="item text"><li class="icon points-color"></li><span>Points</span></div></a>
            {% endcomment %}
        </div>
    </article>
{% endblock %}
