{% extends "core/main.html" %}

{% block content %}
<<div class="menu">
            <div class="item text green-back darkgrey-front" onclick="window.location='/ontrack'"><li class="icon ontrack"></li><p>On Track</p></div>
            <div class="item text cyan-back darkgrey-front" onclick="window.location='/badges'"><li class="icon badges"></li><p>Badges</p></div>
            <div class="item text blue-back darkgrey-front" onclick="window.location='/chat'"><li class="icon chat"></li><p>Chat Groups</p></div>
            <div class="item text purple-back darkgrey-front" onclick="window.location='/blog'"><li class="icon blog"></li><p>Blog</p></div>
            <div class="item text red-back darkgrey-front" onclick="window.location='/leader'"><li class="icon leaderboard"></li><p>Leaderboard</p></div>
            <div class="item text orange-back darkgrey-front" onclick="window.location='/points'"><li class="icon points"></li><p>Points</p></div>
            <div class="item text yellow-back darkgrey-front" onclick="window.location='/inbox'"><li class="icon inbox"></li><p>Inbox</p></div>
            <div class="item text grey-back white-front" onclick="window.location='/home'"><li class="icon home"></li><p>Home</p></div>
            <div class="item text grey-back white-front" onclick="window.location='/signout'"><li class="icon user"></li><p>Logout</p></div>
        </div>
{% endblock %}
