{% extends "core/main.html" %}

{% block title %}STORIES{% endblock %}

{% block content %}
    <div class="menu">
        <a href="/menu"><div class="text heading blue-back darkgrey-front"><li class="icon blog"></li><p>Stories</p></div></a>
    </div>

    <div class="text heading darkgrey-back"><p>What we have to tell you</p></div>

    <div class="content padded white-back">
        {% for post in posts %}
            {% if post.big_image and forloop.counter == 1 %}
                <div class="blogimage" style="background-image: url('{{ post.big_image.url }}')"></div>
            {% endif %}

            <a class="blue-front large-font-normal" href="/blog/{{ post.id }}">{{ post.name }}</a>
            <div class="superlightgrey-front">{{ post.publishdate|date:"d M" }}</div>
            <p class="darkgrey-front">{{ post.description|truncatechars:50 }} <a class="descriptor blue-front" href="/blog/{{ post.id }}">Read More</a></p>
            <hr style="border:0;height:1px;margin-bottom:1em;background:#d5d5d5" />
        {% endfor %}

        {% if state.blog_num < state.blog_page_max %}
            <p>
                {{ state.blog_num }} of {{ state.blog_page_max }} <a class="blue-front" href="/bloglist">Load older Entries ></a>
            </p>
        {% endif %}
    </div>
{% endblock %}