{% extends "core/main.html" %}
{% block title %}BLOG{% endblock %}

{% block content %}
    {% load humanize %}
    <div class="menu">
        <a href="/blog"><div class="text heading purple-back darkgrey-front"><li class="icon blog"></li><p>Blog</p></div></a>
    </div>
    <div class="text heading purple-back"><p>What we have to tell you</p></div>

    <div class="content narrow white-back">
        {% if post.big_image %}
            <div class="blogimage" style="background-image: url('{{ post.big_image.url }}')"></div>
        {% endif %}
        <div class="purple-front large-font">{{ post.name }}</div>
        <div class="darkgrey-front bold-font">{{ post.publishdate|date:"d M" }}</div>
        <div class="darkgrey-front">{% autoescape off %}{{ post.content }}{% endautoescape %}</div>
    </div>

        {% if state.post_page_max > 0 %}
            <div class="menu darkgrey-back">
                {% for comment in post_comments %}
                    {% if comment.moderated %}
                            <div class="item-large grey-back">
                                <div>
                                    <span class="white-front bold-font">{{ comment.author.first_name }}</span> <span class="lightgrey-front">{{ comment.publishdate | naturaltime }}</span>
                                </div>
                                {% if  comment.unmoderated_date == None %}
                                    <p class="white-front">{{ comment.content }}</p>
                                    <form name="report_comment" method="post" action="?">
                                        {% csrf_token %}
                                        <button type="submit" name="report_button" class="red-front bold link" value="">Report</button>
                                        <input type="hidden" name="report" value="{{ comment.id }}" />
                                    </form>
                                {% else %}
                                    <p class="red-front">{{ comment.content }}</p>
                                {% endif %}
                            </div>
                    {% endif %}
                {% endfor %}
                <form name="more_comments" method="post" action="?">
                    {% csrf_token %}
                    <div class="item grey-back">
                        <span>{{ request.session.state.post_page }} of {{ request.session.state.post_page_max }}</span>
                        {% if request.session.state.post_page < request.session.state.post_page_max %}
                            <button type="submit" name="more_button" class="green-front link" value="">See more comments &gt;</button>
                            <input type="hidden" name="page" value="" />
                        {% endif %}
                    </div>
                </form>
            </div>
        {% endif %}

    {% if not state.banned and not preview%}
        <div class="content narrow darkgrey-back pad-bottom">
            <div class="white-front bold-font">Post a Comment</div>
            <form name="comment_form" method="post" action="?" class="comment">
                {% csrf_token %}
                <input type="text" name="comment" value="">
                <button type="submit" name="comment_button" class="button green-back grey-front">Post</button>
            </form>
            {% if state.post_comment %}
                <p class="green-front">Thank you for your contribution. Your message will display shortly!</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="content narrow white-back">
        {% if state.blog_previous %}
            <a class="purple-front bold-font pull-left" href="/blog/{{ state.blog_previous }}">&lt; Previous</a>
        {% endif %}

        {% if state.blog_next %}
            <a class="purple-front bold-font pull-right" href="/blog/{{ state.blog_next }}">Next &gt;</a>
        {% endif %}
        <div>&nbsp;</div>
    </div>
{% endblock %}