{% extends "core/main.html" %}

{% block title %}Stories{% endblock %}

{% block page_descriptor_text %}Stories{% endblock %}

{% block content %}

    <section class="content padded white-back">
        {% for post in posts %}
            <article class="card amethyst-accent border-color-accent">
                <section class="top">
                    {% if post.big_image and forloop.counter == 1 %}
                        <div class="img-container">
                            <img class="limit-size" src="{{ post.big_image.url }}" />
                        </div>
                    {% endif %}
                    <a href="/blog/{{ post.id }}" class="link undecorated"><h3 class="card-top-phrase">{{ post.name }}</h3></a>
                    {% if post.description %}
                        <div class="center-font">{{ post.description|truncatechars:50 }}</div>
                    {% endif %}
                </section>
                <hr class="hr-accent" />
                <section class="bottom-novert center-font">
                    <a href="/blog/{{ post.id }}" class="link undecorated icon-right inline">Read story</a>
                </section>
            </article>
        {% endfor %}

        {% if state.blog_num < state.blog_page_max %}
            <p>
                {{ state.blog_num }} of {{ state.blog_page_max }} <a class="blue-front" href="/bloglist">Load older Entries ></a>
            </p>
        {% endif %}
    </section>
{% endblock %}
