{% extends "core/main.html" %}

{% block title %}BLOG{% endblock %}

{% block content %}
<div class="menu">
    <a href="/menu"><div class="text heading purple-back darkgrey-front"><li class="icon blog"></li><p>Blog</p></div></a>
</div>
    <div class="text heading darkgrey-back"><p>What we have to tell you</p></div>

    <div class="menu">
    {% for post in posts %}
        <div class="item-large white-back">
            <a href="/blog/{{ post.id }}" class="purple-front bold-font">{{ post.name }}</a>
        </div>
    {% endfor %}
    <form name="more_form" method="post" action="?" class="item white-back">{% csrf_token %}
            {{ state.blog_page }} of {{ state.blog_page_max }}
            {% if state.blog_page < state.blog_page_max %}
            <button type="submit" name="more_button" class="purple-front link" value="">Load older Entries ></button>
            <input type="hidden" name="page" value="" />
            {% endif %}
        </form>
    </div>

{% endblock %}