{% extends "core/main.html" %}

{% block title %}Stories{% endblock %}

{% block page_descriptor_text %}Stories{% endblock %}

{% block content %}
    <div class="menu">
    {% for post in posts %}
        <div class="item-large white-back">
            <a href="/blog/{{ post.id }}" class="blue-front bold-font">{{ post.name }}</a>
        </div>
    {% endfor %}
        <form name="more_form" method="post" action="?" class="item">
            {% csrf_token %}
            {{ state.blog_page }} of {{ state.blog_page_max }}
            {% if state.blog_page < state.blog_page_max %}
            <button type="submit" name="more_button" class="blue-front link" value="">Load older Entries ></button>
            <input type="hidden" name="page" value="" />
            {% endif %}
        </form>
    </div>

{% endblock %}
