{% extends "core/main.html" %}

{% block title %}CHAT GROUPS{% endblock %}
{% block page_descriptor_text %}Chat groups{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content iris-accent">
        <h1>Connect with others</h1>

        <article>
            {% for grp in groups %}
                <div class="item-large">
                    <a class="color-accent heading link undecorated" href="chat/{{ grp.id }}">{{ grp.name }}</a>
                    <div class="justify-container ">
                        <div class="comment-author inline">{{ grp.last_message.author.first_name }}</div>
                        <div class="inline lightgrey-front">{{ grp.last_message.publishdate | naturaltime }}</div>
                        <div class="justify-enforcer"></div>
                    </div>
                    <p>{{ grp.last_message.content }}</p>
                    <a href="chat/{{ grp.id }}" class="button border-color-accent color-accent">See more comments</a>
                    <hr />
                </div>
            {% endfor %}
        </article>
    </article>
{% endblock %}
