{% extends "core/main.html" %}

{% block title %}CHAT{% endblock %}

{% block content %}
    {% load humanize %}
<div class="menu">
    <a href="/chat"><div class="text heading cyan-back darkgrey-front"><li class="icon chat"></li><p>Chat Groups</p></div></a>
</div>
    <div class="text heading darkgrey-back"><p>{{ group.name }}</p></div>

    <div class="menu">
        {% for msg in messages %}
            <div class="item-large grey-back">
                <div><span class="white-front bold-font">{{ msg.author.first_name }}</span> <span class="lightgrey-front">{{ msg.publishdate | naturaltime }}</span></div>
                <p class="white-front">{{ msg.content }}</p>
            </div>
        {% endfor %}

        <form name="more_form" method="post" action="?" class="item grey-back">{% csrf_token %}
            {{ state.chat_page }} of {{ state.chat_page_max }}
            {% if state.chat_page < state.chat_page_max %}
            <button type="submit" name="more_button" class="blue-front link" value="">Load more Comments ></button>
            <input type="hidden" name="page" value="" />
            {% endif %}
        </form>
    </div>

    <div class="content narrow darkgrey-back">
        Post a comment
        <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
            <input type="text" name="comment" value="" />
            <button type="submit" name="comment_button" class="button blue-back grey-front" value="Submit">Post</button>
        </form>
    </div>

{% endblock %}