{% extends "core/main.html" %}

{% block title %}CHAT{% endblock %}
{% block page_descriptor_text %}Chat groups{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content iris-accent">
        <h1>Chat with your grade about maths</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="color-accent">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if most_popular %}
            <section class="comment-section">
                <p>Most popular</p>
                <div class="comment-list">
                    {% for msg in most_popular %}
                        <div class="item-large">
                            <div>
                                <span class="comment-author">{{ msg.author.first_name }}</span>
                            </div>
                            {% if  msg.unmoderated_date == None %}
                                <p>{{ msg.content }}</p>
                                <form class="pull-up inline" name="report_comment" method="post" action="?">
                                    {% csrf_token %}
                                    <input type="hidden" name="like" value="{{ msg.id }}" />
                                    {% if msg.has_liked %}
                                        <input type="hidden" name="has_liked" value="true" />
                                    {% endif %}
                                    <button type="submit" name="like_button" class="link stack-horz vert-align">
                                        <div class="small-icon{% if msg.has_liked  %} like-full{% else %} like-empty{% endif %} vert-align"></div>&nbsp;{{ msg.like_count }}
                                    </button>
                                </form>
                                <form class="pull-up inline" name="report_comment" method="post" action="?">
                                    {% csrf_token %}
                                    <button class="link stack-horz" type="submit" name="report_button" value="">Report</button>
                                    <input type="hidden" name="report" value="{{ msg.id }}" />
                                </form>
                            {% else %}
                                <p class="red-front">{{ msg.content }}</p>
                            {% endif %}
                        </div>
                        <hr />
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        <section class="comment-section">
            <p>Comments</p>
            {% if not state.banned and not preview %}
                <div class="padded">
                    <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                        <textarea type="text" name="comment" value=""></textarea>
                        <button type="submit" name="comment_button" class="button color-accent border-color-accent" value="Submit">Post</button>
                    </form>
                </div>
            {% else %}
                <h3 class="left-font" >Comments</h3>
            {% endif %}

            <div class="comment-list">
                {% for msg in chat_messages %}
                    {% if msg.moderated %}
                        <div class="item-large">
                            <div>
                                <span class="comment-author">{{ msg.author.first_name }}</span>
                            </div>
                            {% if  msg.unmoderated_date == None %}
                                <p>{{ msg.content }}</p>
                                <form class="pull-up inline" name="report_comment" method="post" action="?">
                                    {% csrf_token %}
                                    <input type="hidden" name="like" value="{{ msg.id }}" />
                                    {% if msg.has_liked %}
                                        <input type="hidden" name="has_liked" value="true" />
                                    {% endif %}
                                    <button type="submit" name="like_button" class="link stack-horz vert-align">
                                        <div class="small-icon{% if msg.has_liked  %} like-full{% else %} like-empty{% endif %} vert-align"></div>&nbsp;{{ msg.like_count }}
                                    </button>
                                </form>
                                <form class="pull-up inline" name="report_comment" method="post" action="?">
                                    {% csrf_token %}
                                    <button class="link stack-horz" type="submit" name="report_button" value="">Report</button>
                                    <input type="hidden" name="report" value="{{ msg.id }}" />
                                </form>
                            {% else %}
                                <p class="red-front">{{ msg.content }}</p>
                            {% endif %}
                        </div>
                        <hr />
                    {% endif %}
                {% endfor %}

                <form name="more_form" method="post" action="?" class="item">{% csrf_token %}
                    {% comment %}{{ state.chat_page }} of {{ state.chat_page_max }}{% endcomment %}
                    {% if state.chat_page < state.chat_page_max %}
                    <button type="submit" name="more_button" class="button" value="">Load more messages ></button>
                    <input type="hidden" name="page" value="" />
                    {% endif %}
                </form>
            </div>
        </section>
    </article>
{% endblock %}
