{% extends "core/main.html" %}

{% block title %}CHAT{% endblock %}
{% block page_descriptor_text %}Chat groups{% endblock %}

{% block content %}
    {% load humanize %}
    <article class="content iris-accent">
        <h1>Chat with your grade about maths</h1>

        <div class="comment-list">
            {% for msg in messages %}
                {% if msg.moderated %}
                    <div class="item-large">
                        <div>
                            <span class="comment-author">{{ msg.author.first_name }}</span>
                        </div>
                        {% if  msg.unmoderated_date == None %}
                            <p>{{ msg.content }}</p>
                            {% if ONEPLUS_278 %}
                                <form class="pull-up" name="report_comment" method="post" action="?">
                                    {% csrf_token %}
                                    <button class="link color-accent stack-horz" type="submit" name="report_button" value="">Report Comment</button>
                                    <input type="hidden" name="report" value="{{ msg.id }}" />
                                </form>
                            {% endif %}
                        {% else %}
                            <p class="red-front">{{ msg.content }}</p>
                        {% endif %}
                    </div>
                    <hr />
                {% endif %}
            {% endfor %}

            <form name="more_form" method="post" action="?" class="item">{% csrf_token %}
                {% comment %}{{ state.chat_page }} of {{ state.chat_page_max }}{% endcomment %}
                {% if state.chat_page < state.chat_page_max %}
                <button type="submit" name="more_button" class="button" value="">Load more messages ></button>
                <input type="hidden" name="page" value="" />
                {% endif %}
            </form>
        </div>

        {% if not state.banned and not preview %}
            <div class="padded">
                Post a comment
                <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                    <textarea type="text" name="comment" value=""></textarea>
                    <button type="submit" name="comment_button" class="button color-accent border-color-accent" value="Submit">Post</button>
                </form>
            </div>
        {% endif %}
    </article>
{% endblock %}
