{% extends "core/main.html" %}

{% block title %}INBOX{% endblock %}

{% block content %}

    <a href="/inbox"><div class="text heading yellow-back darkgrey-front"><li class="icon inbox"></li><p>Inbox ({{ state.inbox_unread }})</p></div></a>
    <div class="text heading darkgrey-back"><p>Something to say?</p></div>

    {% if not state.inbox_sent %}
        <div class="content narrow darkgrey-back">
            Send us a Message
            <form name="comment_form" method="post" action="?" class="comment">{% csrf_token %}
                <button type="submit" name="comment_button" class="button green-back" value="Submit"></button>
                <input type="text" name="comment" value="" />
            </form>
        </div>
    {% else %}
        <div class="item-large grey-back white-front">
            <div class="message_heading">Thank You!</div>
            <div class="message">Your message had been sent</div>
        </div>
    {% endif %}

{% endblock %}