{% extends "core/main.html" %}

{% block title %}INBOX{% endblock %}

{% block content %}

    <div class="text heading yellow-back darkgrey-front"><li class="icon inbox"></li><p>Inbox ({{ state.inbox_unread }})</p></div>
    <div class="text heading darkgrey-back"><p>Something to say? <a href="/inbox_send" class="yellow-front">Send us a message</a></p></div>

    <div class="menu">
        {% autoescape off %}
            {% if message_count > 0 %}
                {% for msg in messages %}
                    <div class="item-large grey-back white-front">
                        <form name="DOTHEMENU" method="post" action="?" class="">{% csrf_token %}
                            <button type="submit" name="hide" value="{{ msg.id }}" class="close grey-back"></button>
                        </form>

                        <a class="{% if not msg.viewed %}yellow-front{% else %}white-front{% endif %}" href="/inbox/{{ msg.id }}">{{ msg.name }}</a>
                        <p>{{ msg.content|striptags|truncatechars:50 }} <a class="yellow-front link" href="/inbox/{{ msg.id }}">Read More</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="item-large grey-back white-front">
                    <div class="message_heading">Sorry!</div>
                    <div class="message">You have no messages available at this time</div>
                </div>
            {% endif %}
        {% endautoescape %}
    </div>

{% endblock %}