{% extends "core/main.html" %}

{% block title %}Change Details{% endblock %}

{% block content %}
    <div class="menu">
        <a href="/menu">
            <div class="text heading blue-back darkgrey-front">
                <li class="icon change_number"></li>
                <p>Change Number/Email</p>
            </div>
        </a>
    </div>
    <div class="content">
        <p class="center-font">
            Changing your details will change the number you use to log in to dig-it as well as the number or email to which all the communication is sent.
            Leave details blank if you do not wish to change them.
        </p>
        <form action="changedetails" method="post" class="">
            {% csrf_token %}

            <div class="content.narrow">
                <label class="bold-font" for="id_old_number">Old Number</label>
                <input class="comment" type="text" id="id_old_number" name="old_number">
                {% if error_field == "old_mobile_error" %}
                    <p class="red-front">
                        {{ error_message }}
                    </p>
                {% endif %}
            </div>
            <br>
            <div class="content.narrow">
                <label class="bold-font" for="id_new_number">New Number</label>
                <input type="text" id="id_new_number" name="new_number">
                {% if error_field == "new_mobile_error" %}
                    <p class="red-front">
                        {{ error_message }}
                    </p>
                {% endif %}
            </div>
            <br>
            <br>
            <div class="fieldWrapper">
                <label class="bold-font" for="id_old_email">Old Email</label>
                <input type="text" id="id_old_email" name="old_email">
                {% if error_field == "old_email_error" %}
                    <p class="red-front">
                        {{ error_message }}
                    </p>
                {% endif %}
            </div>
            <br>
            <div class="fieldWrapper">
                <label class="bold-font" for="id_new_email">New Email</label>
                <input type="text" id="id_new_email" name="new_email">
                {% if error_field == "new_email_error" %}
                    <p class="red-front">
                        {{ error_message }}
                    </p>
                {% endif %}
            </div>

            <input type="submit" value="Submit" class="button green-back grey-front" />
        </form>
    </div>
{% endblock %}