{% extends "core/main.html" %}

{% block title %}GET CONNECTED{% endblock %}

{% block content %}
<form name="sms_form" method="post" action="?">
{% csrf_token %}
    {% if exists %}
        <p>
            You seem to have entered an incorrect password.
            Please click  <a href={% url 'auth.login' %}>here</a> to try again or
            click <a href={% url 'auth.smspassword' provided_username %}>here</a>
            to reset your password.
        </p>
    {% else %}
        <p>
            OnePlus is currently in test phase and has a closed user group.
            As your cell number is not registered,
            you are not able to access the platform.
            If you believe you should have access and are registered,
            please reach out to us <a href={% url 'misc.contact' %}>here</a>.
        </p>
        <p>
            For more information about OnePlus please email
            <a href="mailto:info@oneplus.co.za" class="green-front bold-font">
                info@oneplus.co.za
            </a>
        </p>
    {% endif %}

</form>

{% endblock %}