{% extends "core/main.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">Log in</h1>
        <form method="POST">
            {% csrf_token %}
            {% if username_error %}<div class="red-front">{{ username_error }}</div>{% endif %}
                {% for field in form %}
                    <label class="fieldWrapper">
                        {{ field.label }}
                        {% if field.errors %}
                            <div class="red-front">
                                {% for err in field.errors %}
                                    {{ err }}<br />
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ field }}
                    </label>
                {% endfor %}
            <input type="submit" value="Log in" class="button border-color-accent color-accent" />
        </form>
        <div class="center-font spaced-links">
            <a href="{% url 'auth.sms_reset_password' %}" class="center-font link">Forgot Password?</a>
        </div>
    </article>

{% endblock %}
