{% extends "core/main.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">Sign in</h1>
        <form action="login" method="post" class="login">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign in" class="button border-color-accent color-accent" />
        </form>
        <div class="center-font spaced-links">
            <a href='{% url 'auth.sms_reset_password' %}' class="center-font color-accent link">Forgot Password?</a>
        </div>
    </article>

{% endblock %}
