{% extends "core/main.html" %}

{% block title %}Thank you{% endblock %}

{% block head_content %}
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '473374842854283');
    fbq('track', 'PageView');
    </script>
    {{ block.super }}
{% endblock %}

{% block pre_content %}
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=473374842854283&ev=PageView&noscript=1"/>
    </noscript>
    {{ block.super }}
{% endblock %}

{% block page_descriptor_text %}Register{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">Didn't receive an SMS?</h1>
        <h2>Here are some reasons why this might occur:</h2>
        <ol class="numbered">
            <li>The mobile number entered was incorrect</li>
            <li>Network problems</li>
            <li>SMS might take up to 5 minutes to come through</li>
        </ol>
        <p>
            If you have not received your SMS, and the number you entered was correct, please
            <a href="{% url 'misc.contact' %}">contact</a> us for help.
        </p>
        <a class="button border-color-accent color-accent" href="{% url 'auth.login' %}">Back to login</a>
    </article>

{% endblock %}
