{% extends "core/main.html" %}

{% block title %}RESET PASSWORD{% endblock %}

{% block content %}
    <div class="content">
        <h1>Reset Password</h1>

        {% if not changed %}
            {% if message %}
                <p class="red-front">{{ message }}</p>
            {% endif %}
            <p>Welcome back {{ name }}. Please enter your new password.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reset Password" class="button green-back grey-front" />
            </form>
        {% else %}
            <p>{{ message }}</p>
            <a href="login">Click here to login</a>
        {% endif %}

    </div>
{% endblock %}