{% extends "core/main.html" %}

{% block title %}Thank you{% endblock %}

{% block page_descriptor_text %}Register{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1 class="color-accent">We've sent you an SMS.</h1>
        <h2>Follow the link to complete the registration process.</h2>
        <p>
            Didn't receive an SMS?<br />
            <a href="{% url 'auth.no_sms' %}">Click here</a> to find out why.
        </p>
    </article>

{% endblock %}
