{% extends "core/main.html" %}

{% block title %}Registration{% endblock %}

{% block page_descriptor_text %}Register{% endblock %}

{% block content %}

    <article class="content pale-teal-accent">
        <h1>Let's sign you up.</h1>
		<form action="signup_form" method="post" class="signup">
			{% csrf_token %}

            <p>
                Name
                <input type="text" name="first_name" id="id_first_name" value="{{ data.first_name }}" >
                {% if errors.first_name_error %}
                    <span class="red-front">{{ errors.first_name_error }}</span>
                    <br>
                {% endif %}
            </p>

            <p>
                Surname
                <input type="text" name="surname" id="id_surname" value="{{ data.surname }}" >
                {% if errors.surname_error %}
                    <span class="red-front">{{ errors.surname_error }}</span>
                    <br>
                {% endif %}
           </p>

            <p>
                Mobile number
                <input type="text" name="cellphone" id="id_cellphone" placeholder="e.g. 072 439 1733" value="{{ data.cellphone }}" >
                {% if errors.cellphone_error %}
                    {% if errors.cellphone_error == "registered" %}
                        <span class="red-front">This number has already been registered. Sign in <a href="/login" class="blue-front bold-font">here</a></span>
                    {% else %}
                        <span class="red-front">{{ errors.cellphone_error }}</span>
                    {% endif %}
                    <br>
                {% endif %}
            </p>

			<input type="submit" value="Next" class="button border-color-accent color-accent" />
        </form>
    </article>

{% endblock %}
