{% extends "core/main.html" %}

{% block title %}Sign Up - Select School/Class{% endblock %}

{% block content %}
    <div class="content">
        <p class="center-font">To complete your sign up please select your school and class:</p>
		<form action="signup_form_promath" method="post" class="signup">
			{% csrf_token %}
            <input type="hidden" name="first_name" value="{{ data.first_name }}">
            <input type="hidden" name="surname" value="{{ data.surname }}">
            <input type="hidden" name="cellphone" value="{{ data.cellphone}}">
            <input type="hidden" name="grade" value="{{ data.grade }}">
            <input type="hidden" name="province" value="{{ data.province }}">
            <input type="hidden" name="enrolled" value="{{ data.enrolled }}">

            <p>
                School:<br>
                <select name="school" id="id_school">
                    <option value="0">- - - - - - - -</option>
                    {% for school in schools%}
                        <option value="{{ school.id }}">{{ school.name }}</option>
                    {% endfor %}
                </select>
                <br>
                {% if errors.school_error %}
                    <span class="red-front">{{ errors.school_error }}</span>
                    <br>
                {% endif %}
            </p>

            <p>
                Class:<br>
                <select name="classs" id="id_class">
                    <option value="0">- - - - - - - -</option>
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
                <br>
                {% if errors.class_error %}
                    <span class="red-front">{{ errors.class_error }}</span>
                    <br>
                {% endif %}
            </p>

            <input type="submit" value="Submit" class="button green-back grey-front" />
        </form>
    </div>

{% endblock %}