{% extends "core/main.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div class="content">
        <h1 class="green-front xlarge-font center-font">Sign Up</h1>
        <p class="center-font">To sign up please complete the following information:</p>
		<form action="signup_form" method="post" class="signup">
			{% csrf_token %}

            <p>
                First Name:
                <input type="text" name="first_name" id="id_first_name" value="{{ data.first_name }}" >
                {% if errors.first_name_error %}
                    <span class="red-front">{{ errors.first_name_error }}</span>
                    <br>
                {% endif %}
            </p>

            <p>
                Surname:
                <input type="text" name="surname" id="id_surname" value="{{ data.surname }}" >
                {% if errors.surname_error %}
                    <span class="red-front">{{ errors.surname_error }}</span>
                    <br>
                {% endif %}
           </p>

            <p>
                Cell Number (e.g. 0724391733):
                <input type="text" name="cellphone" id="id_cellphone" value="{{ data.cellphone }}" >
                {% if errors.cellphone_error %}
                    {% if errors.cellphone_error == "registered" %}
                        <span class="red-front">This number has already been registered. Sign in <a href="/login" class="blue-front bold-font">here</a></span>
                    {% else %}
                        <span class="red-front">{{ errors.cellphone_error }}</span>
                    {% endif %}
                    <br>
                {% endif %}
            </p>

            <p>
                What is your current grade?<br>
                <input type="radio" name="grade" value="Grade 10"> Grade 10 <br>
                <input type="radio" name="grade" value="Grade 11"> Grade 11 <br>
                <input type="radio" name="grade" value="Grade 12"> Grade 12 <br>
                {% if errors.grade_error %}
                    <span class="red-front">{{ errors.grade_error }}</span>
                    <br>
                {% endif %}
            </p>

            <p>
                Select your province:<br>
                <select name="province" id="id_province">
                    <option value="0">- - - - - - - -</option>
                    {% for province in provinces %}
                        <option value="{{ province }}">{{ province }}</option>
                    {% endfor %}
                </select>
                <br>
                {% if errors.province_error %}
                    <span class="red-front">{{ errors.province_error }}</span>
                    <br>
                {% endif %}
            </p>

            <p>
                Are you currently enrolled in a ProMaths class?<br>
                <input type="radio" name="enrolled" value="0"> Yes
                <br>
                <input type="radio" name="enrolled" value="1"> No
                <br>
                {% if errors.enrolled_error %}
                    <span class="red-front">{{ errors.enrolled_error }}</span>
                    <br>
                {% endif %}
            </p>

			<input type="submit" value="Submit" class="button green-back grey-front" />
        </form>
    </div>

{% endblock %}