{% extends "core/main.html" %}

{% block title %}Registration - School selection{% endblock %}

{% block head_content %}
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '473374842854283');
    fbq('track', 'PageView');
    </script>
    {{ block.super }}
{% endblock %}

{% block pre_content %}
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=473374842854283&ev=PageView&noscript=1"/>
    </noscript>
    {{ block.super }}
{% endblock %}

{% block page_descriptor_text %}Register{% endblock %}

{% block content %}
    <article class="content pale-teal-accent">
        <h1>Please confirm which school is yours:</h1>
		<form action="signup_school_confirm" method="post" class="signup block">
			{% csrf_token %}
            <input type="hidden" name="page_num" id="id_page_num" value="2" />
            <input type="hidden" name="first_name" value="{{ data.first_name }}">
            <input type="hidden" name="surname" value="{{ data.surname }}">
            <input type="hidden" name="cellphone" value="{{ data.cellphone}}">
            <input type="hidden" name="grade" value="{{ data.grade }}">
            <input type="hidden" name="province" value="{{ data.province }}">
            <input type="hidden" name="enrolled" value="{{ data.enrolled }}">
            <input type="hidden" name="school_dirty" value="{{ data.school_dirty }}">
            <input type="hidden" name="terms" value="{{ data.terms }}">

            <div class="radiogroup">
                {% for school in school_list %}
                    <table class="radio-horz">
                        <tr>
                            <td class="vert-center"><input name="school" type="radio" value="{{ school.id }}" /></td>
                            <td class="vert-center">{{ school.name }}</td>
                        </tr>
                    </table>
                {% endfor %}
                {% comment %}<option value="other">Other</option>{% endcomment %}
                {% if errors.school_error %}
                    <span class="red-front">{{ errors.school_error }}</span>
                    <br>
                {% endif %}
                {% if errors.grade_course_error %}
                    <span class="red-front">{{ errors.grade_course_error }}</span> -
                    <a href={% url 'misc.contact' %}>Contact us</a> to get connected.
                    <br>
                {% endif %}
            </div>

            <input type="submit" value="Submit" class="button border-color-accent color-accent" onclick="fbq('track','CompleteRegistration')" />
        </form>
    </article>

{% endblock %}
