{% extends "core/main.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div class="content">
        <h1 class="green-front xlarge-font center-font">Sign Up</h1>
        <p class="center-font">To sign up please complete the following information:</p>
		<form action="signup/form" method="post" class="signup">
			{% csrf_token %}
            {{ form.as_p }}
			<input type="submit" value="Submit" class="button green-back grey-front" />
        </form>
    </div>

{% endblock %}