{% extends "core/main.html" %}

{% block title %}Sign Up - School{% endblock %}

{% block page_descriptor_text %}Sign up{% endblock %}

{% block content %}
    <article class="content pale-teal-accent">
        <h1 class="color-accent">Hello, {{ data.first_name }}.</h1>
        <h2>We need a bit more info.</h2>
		<form action="signup_form_normal" method="post" class="signup">
			{% csrf_token %}
            <input type="hidden" name="page_num" id="id_page_num" value="1" />
            <input type="hidden" name="first_name" value="{{ data.first_name }}">
            <input type="hidden" name="surname" value="{{ data.surname }}">
            <input type="hidden" name="cellphone" value="{{ data.cellphone}}">
            <input type="hidden" name="enrolled" value="{{ data.enrolled }}">

            <label>
                Select your grade:
                {% if errors.grade_error %}
                    <div class="red-front">{{ errors.grade_error }}</div>
                {% endif %}
                <div class="radiogroup">
                    <label><input class="block" type="radio" name="grade" value="Grade 10">10</label>
                    <label><input class="block" type="radio" name="grade" value="Grade 11">11</label>
                    <label><input class="block" type="radio" name="grade" value="Grade 12">12</label>
                </div>
            </label>

            <label>
                Province
                {% if errors.province_error %}
                    <div class="red-front">{{ errors.province_error }}</div>
                {% endif %}
                <select name="province" id="id_province">
                    <option value="0">Select</option>
                    {% for province in provinces %}
                        <option value="{{ province }}">{{ province }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>
                School
                {% if errors.school_dirty_error %}
                    <div class="red-front">{{ errors.school_dirty_error }}</div>
                {% endif %}
                {% if errors.school_error %}
                    <div class="red-front">{{ errors.school_error }}</div>
                {% endif %}
                {% if errors.grade_course_error %}
                    <div class="red-front">{{ errors.grade_course_error }}</div> -
                    <a href={% url 'misc.contact' %}>Contact us</a> to get connected.
                {% endif %}
                <input type="text" name="school_dirty" id="id_school_dirty" value="{{ data.school_dirty }}" >
                <div class="subtle-info">Please make sure your school’s name is spelled correctly.</div>
            </label>

            <input type="submit" value="Next" class="button border-color-accent color-accent" />
        </form>
    </article>

{% endblock %}
