{% extends "core/main.html" %}

{% block title %}SMS PASSWORD RESET LINK{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="heading-large">SMS Password Reset Link</h1>
        {% if not sent %}
            <p>In order to reset your password please provide the number used to register for ProMaths. Link to reset your password will be SMSed to this number.</p>
            <p class="red-front">{{ message }}</p>
            <form action="sms_reset" method="post" class="smspassword">{% csrf_token %}
                {{ form.as_p }}
                <fieldset class="field-block">
                    <input type="submit" value="Send" class="button green-back grey-front" />
                </fieldset>
            </form>
        {% else %}
            <p>{{ message }}</p>
            {% if success %}
                <a href="login">Click here to login</a>
            {% else %}
                <a href="contact">click here to contact us</a>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}