{% extends "core/main.html" %}

{% block title %}SMS PASSWORD RESET LINK{% endblock %}

{% block content %}
    <article class="content pale-teal-accent">
        <h1 class="color-accent">Reset your password.</h1>

        {% if not sent %}
            <p>In order to reset your password please provide the number used to register on dig-it.</p>
            <p class="red-front">{{ message }}</p>
            <form action="sms_reset" method="post" class="smspassword">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="button border-color-accent color-accent" />
            </form>
        {% else %}
            <p>{{ message }}</p>
            {% if success %}
                <a class="link" href="login">Click here to login</a>
            {% else %}
                <a class="link" href="contact">Click here to contact us</a>
            {% endif %}
        {% endif %}
    </article>


{% endblock %}
