{% extends "core/main.html" %}

{% block title %}SMS PASSWORD{% endblock %}

{% block content %}
    <div class="content">
        <h1>SMS New Password</h1>

        {% if not sent %}
            <p>In order to have a new password sms'd to you, please provide the number used to register for ProMaths</p>
            <form action="smspassword" method="post" class="smspassword">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="button green-back grey-front" />
            </form>
        {% else %}
            <p>{{ message }}</p>
            {% if success %}
                <a href="login">Click here to login</a>
            {% else %}
                <a href="contact">click here to contact us</a>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}