{% extends "learn/next.html" %}

{% block content %}
{{ block.super }}
<form enctype="multipart/form-data" action="{{ save_form_url }}" method="post" id="testingquestion_form">
    {% csrf_token %}
    {% for field in save_form %}{{ field.as_hidden }}{% endfor %}
    {{ save_formset.management_form }}
    {% for form in save_formset %}
        {% for field in form %}{{ field.as_hidden }}{% endfor %}
    {% endfor %}
    <footer class="grp-module grp-submit-row grp-fixed-footer">
        <ul>
            <li><input type="submit" value="Save" class="grp-button grp-default" name="_save"></li>
            <li><input type="submit" value="Save and add another" class="grp-button" name="_addanother"></li>
            <li><input type="submit" value="Save and continue editing" class="grp-button" name="_continue"></li>
        </ul>
    </footer>
</form>
{% endblock %}