/* border radius */
$border-radius-standard: 8px;
$border-radius-button: 100px;
$border-radius-card: $border-radius-standard;

/* border width */
$border-width-standard: 2px;
$border-width-card: $border-width-standard;
