$white: #d5d5d5;
$darkgrey: #191919;
$grey: #2a2a2a;
$lightgrey: #5b5b5b;
$superlightgrey: #d5d5d5;
$green: #28e690;
$cyan: #46bbe1;
$blue: #4688e1;
$purple: #b848c9;
$red: #e4263e;
$orange: #f55d2c;
$yellow: #e4c52f;
$black: #000000;