/* old colours */
$darkgrey: #191919;
$grey: #2a2a2a;
$lightgrey: #5b5b5b;
$superlightgrey: #d5d5d5;
$green: #28e690;
$cyan: #46bbe1;
$blue: #4688e1;
$purple: #b848c9;
$red: #e4263e;
$orange: #f55d2c;
$yellow: #e4c52f;

/* redesign colours */
$amethyst: #ac5ac5;
$black: #000000;
$faded-red: #de5762;
$iris: #6075c4;
$pale-teal: #68baa7;
$squash: #eca11a;
$sunflower-yellow: #f1e101;
$white: #d5d5d5;