
@import url("base.css");
@import url("variables-class.css");
@import url("layout/layout.css");
@import url("icons.css");
@import url("module/m-icons.css");
@import url("module/m-heading.css");
@import url("module/m-buttons.css");
@import url("forms.css");
@import url("layout/l-header.css");
@import url("module/m-menu.css");
@import url("module/m-questions.css");
@import url("layout/l-footer.css");

.link {
    background: none;
    border:none;
}

.text {
    display: table;
    padding:0;
}

.text > * {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}


.sumit-img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    display: inline-block;
}

.sumit {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: -18px;
 }

.sumit-img:nth-child(2) {
    margin: 0px 5px;
}

.sumit_line {
    border-top: 5px solid rgb(0, 0, 0);
    display: block;
    height: 1px;
    content: " ";
    width: 100%;
    left: 0px;
    position: relative;
    bottom: -19px;
}

@media (min-width: 30em) {
    .sumit-img {
        height: 64px;
        width: 64px;
        vertical-align: middle;
        display: inline-block;
    }

    .sumit_line {
        border-top: 5px solid rgb(0, 0, 0);
        display: block;
        height: 1px;
        content: " ";
        width: 100%;
        left: 0px;
        position: relative;
        bottom: -34px;
    }

    .sumit {
        position: relative;
        text-align: center;
        width: 100%;
        margin-bottom: -35px;
     }
}

.popup {
    width: 250px;
    padding: 10px;
    margin-top:-15px;
    margin-right:-25px;
}

.dayheading {
    height: 40px;
    width: 100%;
    background-color: #333333;
    display: -webkit-flex;
    display: flex;
}

.dayheading div {
    position: relative;
    height: 40px;
    width: 20%;
    text-align: center;
    float:left;
    border-top: solid 2px #282828;
    border-bottom: solid 2px #282828;
}

.dayheading .past {
    color: #5a5a5a;
    border-bottom: solid 2px #28e68e;
}

.dayheading .present {
    color: #28e68e;
    border-bottom: solid 2px #282828;
}

.dayheading .present:after{content:""; background: #28e68e; position: absolute; bottom: 0; left: 0; width: 50%; height: 2px; margin-bottom: -2px;}

.dayheading .future {
    color: #202020;
}

.weeksummary {
    height: 70px;
    width: 100%;
    background-color: #333333;
    border-top: solid 1px #232323;
    display: -webkit-flex;
    display: flex;
}

.weeksummary > div > div {
    height: 66px;
    width: 50%;
}

.weeksummary > div > .left-font {
    border-right: solid 1px #3d3d3d;
}


.weeksummary .badge {border-bottom: solid 4px #46bbe1; width: 33%;  float:left;}
.weeksummary .point {border-bottom: solid 4px #e3643a; width: 34%;  float:left;}
.weeksummary .place {border-bottom: solid 4px #e4263e; width: 33%;  float:right;}

.white_back {
    text-align: left;
    background-color: #ffffff;
    padding: 20px 20px 40px 20px;
    margin: 0 0 40px 0;

}

.lightgrey_back {
    background-color: #3a3a3a;
}

.drop {
    position:absolute;
    line-height: 35px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    margin-top: 22px;
}

.sumit_content {
    padding: 10px 0px 0px;
}

.sumitheading {
    height: 40px;
    width: 100%;
    background-color: #333333;
}

.sumitheading div {
    position: relative;
    height: 40px;
    width: 25%;
    text-align: center;
    float:left;
}

.highlight {
    margin: 0px 4px;
}

.basecamp {
    border-bottom: solid 2px #28e690;
}

.foothills {
    border-bottom: solid 2px #e4c52f;
}

.cliffs {
    border-bottom: solid 2px #b848c9;
}

.peak {
    border-bottom: solid 2px #46bbe1;
}

.drop-relative {
    position:relative;
    line-height: 35px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    margin-top: 22px;
}

.green_sub_heading {
    color: #28e690;
    text-align: left;
    width: 100%;
    line-height:12px;
    margin: 20px 20px 20px 20px;
}

.message {
    margin: 0px 16px 16px 16px;
    text-align: left;
}

.message_heading {
    text-align: left;
    font-weight: bold;
    margin: 16px 16px 0px 16px;
}


.badgecontainer {
    display: block;
    position: relative;
    height: 82px;
    width: 70px;
    float:left;
    margin: 5px 5px 30px 5px;
}

.badge-counter{
    border-radius: 100%;
    height: 22px;
    width: 22px !important;
    left: 48px;
    text-align: center;
    line-height: 22px;
    border: 1px solid black;
    position: relative;
    margin-top: 0px !important;
    z-index: 5;
}

img.badge {
    position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    width: 48px;
    height: 48px;
}

.badge-name {
    position: absolute;
    top: 70px;
    width: 100%
}

.disabled-badge {
    color: #ffffff;
    opacity: 0.20;
    filter: alpha(opacity=15); /* msie */
}

.left {
    float: left;
}

.right {
    float: right;
    padding-right: 14px;
}

.pull-left { float:left;}
.pull-right { float:right;}
.clear { clear: both; }

div.award-badge {
    display: block;
    width: 62px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto;
}

li.badge {
    position: absolute;
    display: block;
    width: 62px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 50%;
    margin-left: -31px;
}

li.down_red {
    width: 17px;
    background-position: 50% 45%;
    background-image: url("../img/down_arrow_red.png");
}

.bold-font { font-weight: bold; }
.large-font {font-size: 20px; font-weight: bold}
.large-font-normal {font-size: 20px; font-weight: normal}
.xlarge-font {font-size: 39px; font-weight: bold}
.left-font {text-align: left !important; }
.center-font {text-align: center !important; }
.right-font {text-align: right !important; }

.comment > input[type=text]{
    padding-right: 50px;
    margin-top:10px;
}

.comment > textarea{
    padding-right: 50px;
    margin-top:10px;
}

.badge-layout{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.badge-award{
    vertical-align: middle;
    display: inline-block;
}

.badge-img{
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;
}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
    margin: 0px;
    padding: 0px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border:none;
}

.blogimage {
    display: block;
    width:100%;
    height:150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom:10px;
}

.inline {display: inline-block;}
.block { display: block;}
.pad-bottom { padding-bottom:25px !important; }
.pad-top { padding-top:30px !important; }

.label-question{
    vertical-align:middle !important;
    padding-top: 8px;
    padding-bottom: 8px
}

.align-option{
    vertical-align: middle;
    display: inline-block;
}

ul.bullets{
    list-style-type: disc;
    padding-left: 10px;
}

.redo {
    font-size: 20px;
    font-weight: bold;
    color: #e3643a;
    text-decoration: underline;
}
