/*RESET*/
table, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:12px; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}


/*MAIN*/
body {
    font-family: "Arial", sans-serif;
	font-size: 12pt;
	background-color: #2a2a2a;
	color: #d5d5d5;
    box-sizing: border-box;
}
body * {
    font-size: inherit;
}

input[type=submit], input[type=text], input[type=password], select {
    -webkit-appearance: none;
    border-radius: 0;
}

.white-front { color: #d5d5d5; }
.darkgrey-front { color: #191919; }
.grey-front { color: #2a2a2a; }
.lightgrey-front { color: #5b5b5b; }
.green-front { color: #28e690; }
.cyan-front { color: #46bbe1; }
.blue-front { color: #4688e1; }
.purple-front { color: #b848c9; }
.red-front { color: #e4263e; }
.orange-front { color: #f55d2c; }
.yellow-front { color: #e4c52f; }
.black-front { color: #000000; }

.white-back { background-color: #ffffff; }
.darkgrey-back { background-color: #191919; }
.lightgrey-back { background-color: #5b5b5b; }
.grey-back { background-color: #2a2a2a; }
.green-back { background-color: #28e690; }
.cyan-back { background-color: #46bbe1; }
.blue-back { background-color: #4688e1; }
.purple-back { background-color: #b848c9; }
.red-back { background-color: #e4263e; }
.orange-back { background-color: #f55d2c; }
.yellow-back { background-color: #e4c52f; }


div { box-sizing: border-box; }
h1 { margin: 16px 0px 16px 0px; }
p { margin: 16px 0px 16px 0px; line-height: 1.1em; }
a { padding: 0px 0px 5px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #28e690;
}
button {white-space: nowrap; }



.button {
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 100%;
    padding: 1.25em 0;
    margin-top:10px;
    margin-bottom: 10px;
    border: 1px solid rgb(237, 246, 223);
    border-bottom: 1px solid rgb(0, 105, 0);
    border-right: 1px solid rgb(0, 105, 0);
    font-size: 100%;
    font-weight: bold;
}
.link {
    background: none;
    border:none;
}

.link-button {
    background: none;
    padding: 0;
    border: none;
    width: 100%;
    font-weight: bold;
}

.spaced-links a {
    padding: 1em 0;
}

input[type=text],input[type=password], select { width: 100%; background-color: #444444; height: 35px; border:none; color:#dbdbdb; padding-left:10px; padding-right:10px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
textarea { width: 100%; background-color: #444444; height: 80px; border:none; color:#dbdbdb; padding-left:10px; padding-right:10px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

.login label { z-index: 1; display: block; }

.text {
    display: table;
    padding:0px;
}

.text > * {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.descriptor, .descriptor > a {
    font-size: 12pt;
}

a.descriptor {
    font-weight: bold;
}

.header {
    height: 50px;
    line-height: 50px;
    background-color: #3a3a3a;
    padding: 0 1.25em;
    width: 100%;
}

.header a {
    padding: 0px;
}

.header .menu-login {
    float:left;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    padding: 0px;
    position: absolute;
}

.header .logo {
    height: 50px;
    overflow: hidden;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header .menu, .header .menu-close {
    height: 50px;
    width: 27px;
    background-color: #3a3a3a;
    border: none;
    float:left;
    background-repeat: no-repeat;
    background-position: 5px 18px;
    position: absolute;
}

.header .menu {
    background-image: url("../img/menu.png");
}

.header .menu-close {
    background-image: url("../img/menu_close.png");
}

@media (min-width: 30em) {
    .header .menu-login {
        float:left;
        margin: 0px 0px 0px 17px;
        padding: 0px;
        width: 50px;
    }

    .header .menu {
        height: 50px;
        width: 50px;
        background-color: #3a3a3a;
        border: none;
        float:left;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-position: 17px 18px;
    }
}

.sumit-img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    display: inline-block;
}

.sumit {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: -18px;
 }

.sumit-img:nth-child(2) {
    margin: 0px 5px;
}

.sumit_line {
    border-top: 5px solid rgb(0, 0, 0);
    display: block;
    height: 1px;
    content: " ";
    width: 100%;
    left: 0px;
    position: relative;
    bottom: -19px;
}

@media (min-width: 30em) {
    .sumit-img {
        height: 64px;
        width: 64px;
        vertical-align: middle;
        display: inline-block;
    }

    .sumit_line {
        border-top: 5px solid rgb(0, 0, 0);
        display: block;
        height: 1px;
        content: " ";
        width: 100%;
        left: 0px;
        position: relative;
        bottom: -34px;
    }

    .sumit {
        position: relative;
        text-align: center;
        width: 100%;
        margin-bottom: -35px;
     }
}

.header .active {
    background-color: #2a2a2a;
}

.menu {
    background-color: #2a2a2a;
    width: 100%;
}

.menu .item {
    height: 36pt;
    width:100%;
    text-decoration: none;
    text-align: left;
    border-bottom: solid 1px #252525;
}

.menu .item-large {
    height: auto;
    width:100%;
    text-decoration: none;
    text-align: left;
    padding: 20px 25px 15px 25px;
    border-bottom: solid 1px #252525;
}

.menu .item-large:last-of-type {
    border-bottom: none;
}

.menu .reply {
    padding-left:50px;
    background-image: url("../img/reply.png");
    background-repeat: no-repeat;
    background-position: 25px 20px;

}

.menu .item p {
    width: 100%;
}

.menu a{
    padding: 0px;
}


.footer {
    width: 100%;
    color: #646464;
    line-height: 1.5em;
    padding: 1.5em 0;
}

.footer a {
    color: #646464;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.container {
    width: 100%;
    background-color: #2a2a2a;
    text-align: left;
    box-sizing: border-box;
}

.content {
    padding: 0 1.5em;
}

@media (min-width: 30em) {
    .content {
        padding: 3em
    }
}

.content.narrow {
    padding: 15px 25px 15px 25px;
}

.question-padding {
    padding: 0px;
}

@media (min-width: 30em) {
    .question-padding {
         padding: 15px 25px 15px 25px;
    }
}

.question-padding img {
    width: 100%;
}

.question-padding div img {
    width: 100%;
}

.container > p { text-align: left; padding: 16px 0px 16px 0px; margin: 0px; }

.heading {
    width: 100%;
    text-align: left;
    padding: 0;
}

.heading a { display: inline;}
.heading form {margin-right: 10px;}

p a { display: inline;}


.popup {
    width: 250px;
    padding: 10px;
    margin-top:-15px;
    margin-right:-25px;
}

.dayheading {
    width: 100%;
    background-color: #333333;
    display: -webkit-flex;
    display: flex;
}

.dayheading div {
    position: relative;
    padding: 1em 0;
    width: 20%;
    text-align: center;
    float:left;
}

.dayheading p {
    line-height: 1em;
}

.dayheading .past {
    color: #5a5a5a;
}

.dayheading .present {
    color: #28e68e;
}


.dayheading .future {
    color: #202020;
}

.weeksummary {
    width: 100%;
    background-color: #333333;
    border-top: solid 1px #232323;
    display: block;
}

.weeksummary > div > .left-font {
    border-right: solid 1px #3d3d3d;
}


.weeksummary .badge {background-color: #e4263e; width: 100%;}
.weeksummary .point {background-color: #e3643a; width: 100%;}
.weeksummary .place {background-color: #e3643a; width: 100%;}

.white_back {
    text-align: left;
    background-color: #ffffff;
    padding: 20px 20px 40px 20px;
    margin: 0px 0px 40px 0px;

}

.lightgrey_back {
    background-color: #3a3a3a;
}

.drop {
    position:absolute;
    line-height: 35px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    margin-top: 22px;
}

.sumit_content {
    padding: 10px 0px 0px;
}

.sumitheading {
    height: 40px;
    width: 100%;
    background-color: #333333;
}

.sumitheading div {
    position: relative;
    height: 40px;
    width: 25%;
    text-align: center;
    float:left;
}

.highlight {
    margin: 0px 4px;
}

.basecamp {
    border-bottom: solid 2px #28e690;
}

.foothills {
    border-bottom: solid 2px #e4c52f;
}

.cliffs {
    border-bottom: solid 2px #b848c9;
}

.peak {
    border-bottom: solid 2px #46bbe1;
}

.drop-relative {
    position:relative;
    line-height: 35px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    margin-top: 22px;
}

.green_sub_heading {
    color: #28e690;
    text-align: left;
    width: 100%;
    line-height:12px;
    margin: 20px 20px 20px 20px;
}

.message {
    margin: 0px 16px 16px 16px;
    text-align: left;
}

.message_heading {
    text-align: left;
    font-weight: bold;
    margin: 16px 16px 0px 16px;
}

li.icon {
    display: inline-block;
    width: 36pt;
    height: 36pt;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

li.badges {
    background-image: url("../img/icn_badges.png");
}

li.blog {
    background-image: url("../img/icn_blog.png");
}

li.chat {
    background-image: url("../img/icn_chat.png");
}

li.help {
    background-image: url("../img/icn_help.png");
}

li.inbox {
    background-image: url("../img/icn_inbox_black.png");
}

li.leaderboard {
    background-image: url("../img/icn_leaderboard_black.png");
}

li.welcome {
    background-image: url("../img/icn_welcome.png");
}

li.faq {
    background-image: url("../img/icn_faq.png");
}

li.ontrack {
    background-image: url("../img/icn_ontrack.png");
}

li.points {
    background-image: url("../img/icn_points_black.png");
}

li.settings {
    background-image: url("../img/icn_settings.png");
}

li.user {
    background-image: url("../img/icn_user_white.png");
}

li.information {
    background-image: url("../img/about_us.png");
}

li.home {
    background-image: url("../img/icn_home.png");
}

li.contact {
    background-image: url("../img/icn_contact.png");
}

li.change_number {
    background-image: url("../img/icn_chn_number.png");
}

.badgecontainer {
    display: block;
    position: relative;
    height: 82px;
    width: 70px;
    float:left;
    margin: 5px 5px 30px 5px;
}

.badge-counter{
    border-radius: 100%;
    height: 22px;
    width: 22px !important;
    left: 48px;
    text-align: center;
    line-height: 22px;
    border: 1px solid black;
    position: relative;
    margin-top: 0px !important;
    z-index: 5;
}

img.badge {
    position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    width: 48px;
    height: 48px;
}

.badge-name {
    position: absolute;
    top: 70px;
    width: 100%
}

.disabled-badge {
    color: #ffffff;
    opacity: 0.20;
    filter: alpha(opacity=15); /* msie */
}

.left {
    float: left;
}

.right {
    float: right;
    padding-right: 14px;
}

.pull-left { float:left;}
.pull-right { float:right;}
.clear { clear: both; }

div.award-badge {
    display: block;
    width: 62px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto;
}

li.badge {
    position: absolute;
    display: block;
    width: 62px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 50%;
    margin-left: -31px;
}

li.down_red {
    width: 17px;
    background-position: 50% 45%;
    background-image: url("../img/down_arrow_red.png");
}

/* large-font -> title */
/* xlarge-font -> logo-size */
/* normal -> body-copy */
/* descriptor: normal, but bold, light-grey */
/* button: bold */
.bold-font { font-weight: bold; }
.large-font {font-size: 20pt; font-weight: bold}
.title {
    font-size: 18pt;
    line-height: 1.25em;
}
.large-font-normal {font-size: 20pt; font-weight: normal}
.xlarge-font {font-size: 24pt; font-weight: bold;}
.left-font {text-align: left !important; }
.center-font {text-align: center !important; }
.right-font {text-align: right !important; }

p {font-size: 12pt; line-height: 1.5em;}

.comment > input[type=text]{
    padding-right: 50px;
    margin-top:10px;
}

.comment > textarea{
    padding-right: 50px;
    margin-top:10px;
}

.comment > select{
    padding-right: 50px;
    margin-top:10px;
}

.badge-layout{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.badge-award{
    vertical-align: middle;
    display: inline-block;
}

.badge-img{
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;
}


/*
.comment > button{
    background-color: #444444;
    width: 40px;
    position: absolute;
    right: 25px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    background-image: url("../img/post-a-comment-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
*/

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
    margin: 0px;
    padding: 0px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border:none;
}

.blogimage {
    display: block;
    width:100%;
    height:150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom:10px;
}

.inline {display: inline-block;}
.block { display: block;}
.pad-bottom { padding-bottom:25px !important; }
.pad-top { padding-top:30px !important; }

.label-question{
    vertical-align:middle !important;
    padding-top: 8px;
    padding-bottom: 8px
}

.align-option{
    vertical-align: middle;
    display: inline-block;
}

ul.bullets{
    list-style-type: disc;
    padding-left: 10px;
}

.redo {
    font-size: 20px;
    font-weight: bold;
    color: #e3643a;
    text-decoration: underline;
}

.padding-bottom {
     padding-bottom: 5px;
 }

.no-padding {
    padding: 0px !important;
}
