
.white-front { color: #d5d5d5; }
.darkgrey-front { color: #191919; }
.grey-front { color: #2a2a2a; }
.lightgrey-front { color: #5b5b5b; }
.green-front { color: #28e690; }
.cyan-front { color: #46bbe1; }
.blue-front { color: #4688e1; }
.purple-front { color: #b848c9; }
.red-front { color: #e4263e; }
.orange-front { color: #f55d2c; }
.yellow-front { color: #e4c52f; }
.black-front { color: #000000; }

.white-back { background-color: #ffffff; }
.darkgrey-back { background-color: #191919; }
.lightgrey-back { background-color: #5b5b5b; }
.grey-back { background-color: #2a2a2a; }
.green-back { background-color: #28e690; }
.cyan-back { background-color: #46bbe1; }
.blue-back { background-color: #4688e1; }
.purple-back { background-color: #b848c9; }
.red-back { background-color: #e4263e; }
.orange-back { background-color: #f55d2c; }
.yellow-back { background-color: #e4c52f; }

